---
layout: default
title: Estate Sales
section_id: estate-sales
works:  
  - image: images/august2019/img_2931.jpg
    title:
    link_to: images/august2019/img_2931.jpg
    klass: graphic-design
    desc:
  - image: images/august2019/img_2940.jpg
    title:
    link_to: images/august2019/img_2940.jpg
    klass: graphic-design
    desc:
  - image: images/august2019/img_2937.jpg
    title:
    link_to: images/august2019/img_2937.jpg
    klass: graphic-design
    desc:
  - image: images/august2019/img_2941.jpg
    title:
    link_to: images/august2019/img_2941.jpg
    klass: graphic-design
    desc:
  - image: images/august2019/img_2938.jpg
    title:
    link_to: images/august2019/img_2938.jpg
    klass: graphic-design
    desc:
  - image: images/august2019/img_2942.jpg
    title:
    link_to: images/august2019/img_2942.jpg
    klass: graphic-design
    desc:
  - image: images/august2019/img_2944.jpg
    title:
    link_to: images/august2019/img_2944.jpg
    klass: graphic-design
    desc:
  - image: images/august2019/img_2945.jpg
    title:
    link_to: images/august2019/img_2945.jpg
    klass: graphic-design
    desc:
  - image: images/august2019/img_2947.jpg
    title:
    link_to: images/august2019/img_2947.jpg
    klass: graphic-design
    desc:
  - image: images/august2019/img_2952.jpg
    title:
    link_to: images/august2019/img_2952.jpg
    klass: graphic-design
    desc:
  - image: images/august2019/img_2948.jpg
    title:
    link_to: images/august2019/img_2948.jpg
    klass: graphic-design
    desc:
  - image: images/august2019/img_2949.jpg
    title:
    link_to: images/august2019/img_2949.jpg
    klass: graphic-design
    desc:
  - image: images/august2019/img_2950.jpg
    title:
    link_to: images/august2019/img_2950.jpg
    klass: graphic-design
    desc:
  - image: images/august2019/img_2956.jpg
    title:
    link_to: images/august2019/img_2956.jpg
    klass: graphic-design
    desc:
  - image: images/august2019/img_2955.jpg
    title:
    link_to: images/august2019/img_2955.jpg
    klass: graphic-design
    desc:
  - image: images/august2019/img_2953.jpg
    title:
    link_to: images/august2019/img_2953.jpg
    klass: graphic-design
    desc:
  - image: images/august2019/img_2958.jpg
    title:
    link_to: images/august2019/img_2958.jpg
    klass: graphic-design
    desc:
  - image: images/august2019/img_2724.jpg
    title:
    link_to: images/august2019/img_2724.jpg
    klass: graphic-design
    desc:
  - image: images/august2019/img_2959.jpg
    title:
    link_to: images/august2019/img_2959.jpg
    klass: graphic-design
    desc:
  - image: images/august2019/img_2960.jpg
    title:
    link_to: images/august2019/img_2960.jpg
    klass: graphic-design
    desc:
  - image: images/august2019/img_2969.jpg
    title:
    link_to: images/august2019/img_2969.jpg
    klass: graphic-design
    desc:
  - image: images/august2019/img_2970.jpg
    title:
    link_to: images/august2019/img_2970.jpg
    klass: graphic-design
    desc:
  - image: images/august2019/img_2971.jpg
    title:
    link_to: images/august2019/img_2971.jpg
    klass: graphic-design
    desc:
  - image: images/august2019/img_2972.jpg
    title:
    link_to: images/august2019/img_2972.jpg
    klass: graphic-design
    desc:
  - image: images/august2019/img_2973.jpg
    title:
    link_to: images/august2019/img_2973.jpg
    klass: graphic-design
    desc:
  - image: images/august2019/img_2943.jpg
    title:
    link_to: images/august2019/img_2943.jpg
    klass: graphic-design
    desc:
  - image: images/august2019/img_2977.jpg
    title:
    link_to: images/august2019/img_2977.jpg
    klass: graphic-design
    desc:
  - image: images/august2019/img_2981.jpg
    title:
    link_to: images/august2019/img_2981.jpg
    klass: graphic-design
    desc:
  - image: images/august2019/img_2980.jpg
    title:
    link_to: images/august2019/img_2980.jpg
    klass: graphic-design
    desc:
  - image: images/august2019/img_2979.jpg
    title:
    link_to: images/august2019/img_2979.jpg
    klass: graphic-design
    desc:
  - image: images/august2019/img_2978.jpg
    title:
    link_to: images/august2019/img_2978.jpg
    klass: graphic-design
    desc:
  - image: images/august2019/img_2991.jpg
    title:
    link_to: images/august2019/img_2991.jpg
    klass: graphic-design
    desc:
  - image: images/august2019/img_2992.jpg
    title:
    link_to: images/august2019/img_2992.jpg
    klass: graphic-design
    desc:
  - image: images/august2019/img_2993.jpg
    title:
    link_to: images/august2019/img_2993.jpg
    klass: graphic-design
    desc:
  - image: images/august2019/img_3009.jpg
    title:
    link_to: images/august2019/img_3009.jpg
    klass: graphic-design
    desc:
  - image: images/august2019/img_3006.jpg
    title:
    link_to: images/august2019/img_3006.jpg
    klass: graphic-design
    desc:
  - image: images/august2019/img_3007.jpg
    title:
    link_to: images/august2019/img_3007.jpg
    klass: graphic-design
    desc:
  - image: images/august2019/img_3008.jpg
    title:
    link_to: images/august2019/img_3008.jpg
    klass: graphic-design
    desc:
  - image: images/august2019/img_3010.jpg
    title:
    link_to: images/august2019/img_3010.jpg
    klass: graphic-design
    desc:
  - image: images/august2019/img_3041.jpg
    title:
    link_to: images/august2019/img_3041.jpg
    klass: graphic-design
    desc:
  - image: images/august2019/img_3003.jpg
    title:
    link_to: images/august2019/img_3003.jpg
    klass: graphic-design
    desc:
  - image: images/august2019/img_3005.jpg
    title:
    link_to: images/august2019/img_3005.jpg
    klass: graphic-design
    desc:
  - image: images/august2019/img_3004.jpg
    title:
    link_to: images/august2019/img_3004.jpg
    klass: graphic-design
    desc:
  - image: images/august2019/img_3002.jpg
    title:
    link_to: images/august2019/img_3002.jpg
    klass: graphic-design
    desc:
  - image: images/august2019/img_2997.jpg
    title:
    link_to: images/august2019/img_2997.jpg
    klass: graphic-design
    desc:
  - image: images/august2019/img_2998.jpg
    title:
    link_to: images/august2019/img_2998.jpg
    klass: graphic-design
    desc:
  - image: images/august2019/img_2999.jpg
    title:
    link_to: images/august2019/img_2999.jpg
    klass: graphic-design
    desc:
  - image: images/august2019/img_3001.jpg
    title:
    link_to: images/august2019/img_3001.jpg
    klass: graphic-design
    desc:
  - image: images/august2019/img_2994.jpg
    title:
    link_to: images/august2019/img_2994.jpg
    klass: graphic-design
    desc:
  - image: images/august2019/img_2995.jpg
    title:
    link_to: images/august2019/img_2995.jpg
    klass: graphic-design
    desc:
  - image: images/august2019/img_2996.jpg
    title:
    link_to: images/august2019/img_2996.jpg
    klass: graphic-design
    desc:
  - image: images/august2019/img_2982.jpg
    title:
    link_to: images/august2019/img_2982.jpg
    klass: graphic-design
    desc:
  - image: images/august2019/img_2983.jpg
    title:
    link_to: images/august2019/img_2983.jpg
    klass: graphic-design
    desc:
  - image: images/august2019/img_2984.jpg
    title:
    link_to: images/august2019/img_2984.jpg
    klass: graphic-design
    desc:
  - image: images/august2019/img_2985.jpg
    title:
    link_to: images/august2019/img_2985.jpg
    klass: graphic-design
    desc:
  - image: images/august2019/img_2986.jpg
    title:
    link_to: images/august2019/img_2986.jpg
    klass: graphic-design
    desc:
  - image: images/august2019/img_2987.jpg
    title:
    link_to: images/august2019/img_2987.jpg
    klass: graphic-design
    desc:
  - image: images/august2019/img_2988.jpg
    title:
    link_to: images/august2019/img_2988.jpg
    klass: graphic-design
    desc:
  - image: images/august2019/img_2989.jpg
    title:
    link_to: images/august2019/img_2989.jpg
    klass: graphic-design
    desc:
  - image: images/august2019/img_2990.jpg
    title:
    link_to: images/august2019/img_2990.jpg
    klass: graphic-design
    desc:
  - image: images/august2019/img_2975.jpg
    title:
    link_to: images/august2019/img_2975.jpg
    klass: graphic-design
    desc:
  - image: images/august2019/img_2961.jpg
    title:
    link_to: images/august2019/img_2961.jpg
    klass: graphic-design
    desc:
  - image: images/august2019/img_2966.jpg
    title:
    link_to: images/august2019/img_2966.jpg
    klass: graphic-design
    desc:
  - image: images/august2019/img_2967.jpg
    title:
    link_to: images/august2019/img_2967.jpg
    klass: graphic-design
    desc:
  - image: images/august2019/img_3039.jpg
    title:
    link_to: images/august2019/img_3039.jpg
    klass: graphic-design
    desc:
  - image: images/august2019/img_3042.jpg
    title:
    link_to: images/august2019/img_3042.jpg
    klass: graphic-design
    desc:
  - image: images/august2019/img_3026.jpg
    title:
    link_to: images/august2019/img_3026.jpg
    klass: graphic-design
    desc:
  - image: images/august2019/img_3027.jpg
    title:
    link_to: images/august2019/img_3027.jpg
    klass: graphic-design
    desc:
  - image: images/august2019/img_3030.jpg
    title:
    link_to: images/august2019/img_3030.jpg
    klass: graphic-design
    desc:
  - image: images/august2019/img_3031.jpg
    title:
    link_to: images/august2019/img_3031.jpg
    klass: graphic-design
    desc:
  - image: images/august2019/img_3032.jpg
    title:
    link_to: images/august2019/img_3032.jpg
    klass: graphic-design
    desc:
  - image: images/august2019/img_3034.jpg
    title:
    link_to: images/august2019/img_3034.jpg
    klass: graphic-design
    desc:
  - image: images/august2019/img_3037.jpg
    title:
    link_to: images/august2019/img_3037.jpg
    klass: graphic-design
    desc:
  - image: images/august2019/img_3035.jpg
    title:
    link_to: images/august2019/img_3035.jpg
    klass: graphic-design
    desc:
  - image: images/august2019/img_1009.jpg
    title:
    link_to: images/august2019/img_1009.jpg
    klass: graphic-design
    desc:
  - image: images/august2019/img_1010.jpg
    title:
    link_to: images/august2019/img_1010.jpg
    klass: graphic-design
    desc:
  - image: images/august2019/img_1011.jpg
    title:
    link_to: images/august2019/img_1011.jpg
    klass: graphic-design
    desc:
  - image: images/august2019/img_1012.jpg
    title:
    link_to: images/august2019/img_1012.jpg
    klass: graphic-design
    desc:
  - image: images/august2019/img_1013.jpg
    title:
    link_to: images/august2019/img_1013.jpg
    klass: graphic-design
    desc:
  - image: images/august2019/img_1014.jpg
    title:
    link_to: images/august2019/img_1014.jpg
    klass: graphic-design
    desc:
  - image: images/august2019/img_1015.jpg
    title:
    link_to: images/august2019/img_1015.jpg
    klass: graphic-design
    desc:
  - image: images/august2019/img_2722.jpg
    title:
    link_to: images/august2019/img_2722.jpg
    klass: graphic-design
    desc:
  - image: images/august2019/img_2723.jpg
    title:
    link_to: images/august2019/img_2723.jpg
    klass: graphic-design
    desc:
  - image: images/august2019/img_2933.jpg
    title:
    link_to: images/august2019/img_2933.jpg
    klass: graphic-design
    desc:
  - image: images/august2019/img_2934.jpg
    title:
    link_to: images/august2019/img_2934.jpg
    klass: graphic-design
    desc:
  - image: images/august2019/img_2935.jpg
    title:
    link_to: images/august2019/img_2935.jpg
    klass: graphic-design
    desc:
  - image: images/august2019/img_2936.jpg
    title:
    link_to: images/august2019/img_2936.jpg
    klass: graphic-design
    desc:
  - image: images/august2019/img_2954.jpg
    title:
    link_to: images/august2019/img_2954.jpg
    klass: graphic-design
    desc:
  - image: images/august2019/img_2963.jpg
    title:
    link_to: images/august2019/img_2963.jpg
    klass: graphic-design
    desc:
  - image: images/august2019/img_2965.jpg
    title:
    link_to: images/august2019/img_2965.jpg
    klass: graphic-design
    desc:
  - image: images/august2019/img_2974.jpg
    title:
    link_to: images/august2019/img_2974.jpg
    klass: graphic-design
    desc:
  - image: images/august2019/img_2976.jpg
    title:
    link_to: images/august2019/img_2976.jpg
    klass: graphic-design
    desc:
  - image: images/august2019/img_3024.jpg
    title:
    link_to: images/august2019/img_3024.jpg
    klass: graphic-design
    desc:
  - image: images/august2019/img_3025.jpg
    title:
    link_to: images/august2019/img_3025.jpg
    klass: graphic-design
    desc:
  - image: images/august2019/img_3028.jpg
    title:
    link_to: images/august2019/img_3028.jpg
    klass: graphic-design
    desc:
  - image: images/august2019/img_3029.jpg
    title:
    link_to: images/august2019/img_3029.jpg
    klass: graphic-design
    desc:
  - image: images/august2019/img_3033.jpg
    title:
    link_to: images/august2019/img_3033.jpg
    klass: graphic-design
    desc:
  - image: images/august2019/img_3036.jpg
    title:
    link_to: images/august2019/img_3036.jpg
    klass: graphic-design
    desc:
  - image: images/august2019/img_3040.jpg
    title:
    link_to: images/august2019/img_3040.jpg
    klass: graphic-design
    desc:
  - image: images/august2019/img_3043.jpg
    title:
    link_to: images/august2019/img_3043.jpg
    klass: graphic-design
    desc:
---

<div class='full parallax' style='background-image: url(images/rgsitting.png); color: #fff;'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="Estate Sales" tagline="" color="#fff" class="big" %}
    </div>
  </div>
  <div class='four spacing'></div>
</div>

<div class='full'>
  <div class='row'>
    <div class='twelve columns'>
      <h1>Completed Sale</h1>
      <h2>Saturday, August 24 and Sunday, August 25, 9am-5pm</h2>
       <h3>Dallas, TX 75228</h3>

<p>STUNNING property located in the heart of Casa Linda brimming with unexpected treasures from beloved heirlooms handed down from previous generations to exquisite worldly goods acquired during a lifetime of wide ranging passsions. The showcase of this event may be the Baldwin baby grand piano but there will be an abundance of other items that will catch your eye! Be sure to arrive early as the riches are sure to quickly disappear. The following pictures are just a glimpse of what’s inside this amazing home.</p>

<p>Baldwin Baby Grand Piano</p>
<p>Classic Claw and Ball Dining Table and 6 Claw and Ball Chairs</p>
<p>Childress Custom Furniture</p>
<p>Custom shiplap headboard with integrated light fixture</p>
<p>Antique Furniture and child’s rocking chair</p>
<p>Custom Lamps(look at pictures) Amazing!</p>
<p>King and Queen Beds </p>
<p>Antique books, maps, colored engravings....and more books!</p>
<p>Patio furniture, outdoor decor, window boxes, planters,  bistro string lights</p>
<p>Rugs</p>
<p>Quilts</p>
<p>Office desk</p>
<p>LARGE collection of Hofbauer German Crystal - Byrdes Birds</p>
<p>Silver, China and Crystal</p>
<p>Custom decorated 8 foot Christmas Tree</p>
<p>LARGE collection of Spode Christmas serving pieces</p>
<p>Fitz & Floyd Christmas</p>
<p>Kitchen FULL!</p>
<p>Children’s toys, books, bikes and more!</p>
<p>Garage FULL! </p>
<p>Roof Rack Cross Bars and roof cargo - fits all Chevrolet Tahoes and Suburbans and most full size Ford SUV</p>
<p>Men’s Trek bicycle - like NEW!</p>
<p>Womens Designer clothes handbags, shoes and jewelry </p>
<p>Men’s clothing </p>
<p>AND LOTS MORE!!!!</p>
    </div>
  </div>
</div>


    <div class='mod modGallery'>
      <!-- 
      <div class='gallery-nav'>
        <ul>
          <li class='current'>
            <a data-cat='all' href='#'>All</a>
          </li>
          <li>
            <a data-cat='graphic-design' href='#'>Graphic Design</a>
          </li>
          <li>
            <a data-cat='web-design' href='#'>Web Design</a>
          </li>
          <li>
            <a data-cat='brand' href='#'>Brand</a>
          </li>
          <li>
            <a data-cat='development' href='#'>Development</a>
          </li>
          <li>
            <a data-cat='print' href='#'>Print</a>
          </li>
        </ul>
      </div>
      -->

      <ul class='gallery large-block-grid-4 medium-block-grid-3 small-block-grid-2'>

        {% for work in page.works %}
          <li class="{{ work.klass }}">
            <a href='{{ work.link_to }}'>
              <img alt="" src="{{ work.image }}" />
              <div class='overlay'>
                <div class='thumb-info'>
                  <h3>{{ work.title }}</h3>
                  <p>{{ work.desc }}</p>
                </div>
              </div>
            </a>
          </li>
        {% endfor %}

      </ul>
    </div>
  </div>

  <div class='four spacing'></div>
</div>
