---
layout: default
title: Estate Sales
section_id: estate-sales
works:
  - image: https://picturescdn.estatesales.net/2663319/89452064/1.jpg
    title: September 2020
    link_to: september2020
    klass: graphic-design
    desc: completed sale
  - image: images/201911/Photo11407.jpg
    title: November 2019
    link_to: november2019.html
    klass: graphic-design
    desc: completed sale
  - image: images/august2019/img_2940.jpg
    title: August 2019
    link_to: august2019.html
    klass: graphic-design
    desc: completed sale
  - image: images/june2019_img001.jpg
    title: June 2019
    link_to: june2019.html
    klass: graphic-design
    desc: completed sale
  - image: images/march2019_img001.jpg
    title: March 2019
    link_to: march2019.html
    klass: graphic-design
    desc: completed sale
  - image: images/may2018/img001.jpg
    title: May 2018
    link_to: may2018.html
    klass: graphic-design
    desc: completed sale
  - image: images/sept2017/img_00.jpg
    title: September 2017
    link_to: september2017.html
    klass: graphic-design
    desc: completed sale
  - image: images/july2017/img_034.jpg
    title: July 2017
    link_to: july2017.html
    klass: graphic-design
    desc: completed sale
  - image: images/sandhurst/IMG_1061.JPG
    title: May 2017
    link_to: may2017.html
    klass: graphic-design
    desc: completed sale
---


<div class='full parallax' style='background-image: url(images/rgsitting.png); color: #fff;'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="Estate Sales" tagline="" color="#fff" class="big" %}
    </div>
  </div>
  <div class='four spacing'></div>
</div>

<div class='full'>
  <div class='row'>
    <div class='twelve columns'>
<!--      <h1>UPCOMING ESTATE SALE</h1>
      <h2>SEPTEMBER 30 - OCTOBER 1</h2> Dallas - <a href="september2017.html">Click here for details and a preview!</a></h2> 
      
      <h3>Follow us on <a href="https://www.facebook.com/judyhigdonestatesaleservices/">Facebook</a> to receive notice when more details are announced!</h3>
-->      <h2>Follow us on <a href="https://www.facebook.com/judyhigdonestatesaleservices/">Facebook</a> to receive notice when the next sale is announced!</h2> 

      <br><br>
      <h1>ESTATE SALE DETAILS</h1>
    </div>
  </div>
</div>


    <div class='mod modGallery'>
      <!-- 
      <div class='gallery-nav'>
        <ul>
          <li class='current'>
            <a data-cat='all' href='#'>All</a>
          </li>
          <li>
            <a data-cat='graphic-design' href='#'>Graphic Design</a>
          </li>
          <li>
            <a data-cat='web-design' href='#'>Web Design</a>
          </li>
          <li>
            <a data-cat='brand' href='#'>Brand</a>
          </li>
          <li>
            <a data-cat='development' href='#'>Development</a>
          </li>
          <li>
            <a data-cat='print' href='#'>Print</a>
          </li>
        </ul>
      </div>
-->      

      <ul class='gallery large-block-grid-4 medium-block-grid-3 small-block-grid-2'>

        {% for work in page.works %}
          <li class="{{ work.klass }}">
            <a href='{{ work.link_to }}'>
              <img alt="" src="{{ work.image }}" />
              <div class='overlay'>
                <div class='thumb-info'>
                  <h3>{{ work.title }}</h3>
                  <p>{{ work.desc }}</p>
                </div>
              </div>
            </a>
          </li>
        {% endfor %}

      </ul>
    </div>
  </div> 

  <div class='four spacing'></div>
</div>
