---
layout: default
title: Estate Sales
section_id: estate-sales
works:
  - image: images/sandhurst/IMG_1035.JPG
    title: 
    link_to: images/sandhurst/IMG_1035.JPG
    klass: graphic-design
    desc: 
  - image: images/sandhurst/IMG_1038.JPG
    title: 
    link_to: images/sandhurst/IMG_1038.JPG
    klass: graphic-design
    desc: 
  - image: images/sandhurst/IMG_1045.JPG
    title: 
    link_to: images/sandhurst/IMG_1045.JPG
    klass: graphic-design
    desc: 
  - image: images/sandhurst/IMG_1046.JPG
    title: 
    link_to: images/sandhurst/IMG_1046.JPG
    klass: graphic-design
    desc: 
  - image: images/sandhurst/IMG_1047.JPG
    title: 
    link_to: images/sandhurst/IMG_1047.JPG
    klass: graphic-design
    desc: 
  - image: images/sandhurst/IMG_1048.JPG
    title: 
    link_to: images/sandhurst/IMG_1048.JPG
    klass: graphic-design
    desc: 
  - image: images/sandhurst/IMG_1049.JPG
    title: 
    link_to: images/sandhurst/IMG_1049.JPG
    klass: graphic-design
    desc: 
  - image: images/sandhurst/IMG_1050.JPG
    title: 
    link_to: images/sandhurst/IMG_1050.JPG
    klass: graphic-design
    desc: 
  - image: images/sandhurst/IMG_1051.JPG
    title: 
    link_to: images/sandhurst/IMG_1051.JPG
    klass: graphic-design
    desc: 
  - image: images/sandhurst/IMG_1052.JPG
    title: 
    link_to: images/sandhurst/IMG_1052.JPG
    klass: graphic-design
    desc: 
  - image: images/sandhurst/IMG_1053.JPG
    title: 
    link_to: images/sandhurst/IMG_1053.JPG
    klass: graphic-design
    desc: 
  - image: images/sandhurst/IMG_1055.JPG
    title: 
    link_to: images/sandhurst/IMG_1055.JPG
    klass: graphic-design
    desc: 
  - image: images/sandhurst/IMG_1056.JPG
    title: 
    link_to: images/sandhurst/IMG_1056.JPG
    klass: graphic-design
    desc: 
  - image: images/sandhurst/IMG_1058.JPG
    title: 
    link_to: images/sandhurst/IMG_1058.JPG
    klass: graphic-design
    desc: 
  - image: images/sandhurst/IMG_1059.JPG
    title: 
    link_to: images/sandhurst/IMG_1059.JPG
    klass: graphic-design
    desc: 
  - image: images/sandhurst/IMG_1060.JPG
    title: 
    link_to: images/sandhurst/IMG_1060.JPG
    klass: graphic-design
    desc: 
  - image: images/sandhurst/IMG_1061.JPG
    title: 
    link_to: images/sandhurst/IMG_1061.JPG
    klass: graphic-design
    desc: 
  - image: images/sandhurst/IMG_1062.JPG
    title: 
    link_to: images/sandhurst/IMG_1062.JPG
    klass: graphic-design
    desc: 
  - image: images/sandhurst/IMG_1063.JPG
    title: 
    link_to: images/sandhurst/IMG_1063.JPG
    klass: graphic-design
    desc: 
  - image: images/sandhurst/IMG_1067.JPG
    title: 
    link_to: images/sandhurst/IMG_1067.JPG
    klass: graphic-design
    desc: 
  - image: images/sandhurst/IMG_1068.JPG
    title: 
    link_to: images/sandhurst/IMG_1068.JPG
    klass: graphic-design
    desc: 
  - image: images/sandhurst/IMG_1071.JPG
    title: 
    link_to: images/sandhurst/IMG_1071.JPG
    klass: graphic-design
    desc: 
  - image: images/sandhurst/IMG_1072.JPG
    title: 
    link_to: images/sandhurst/IMG_1072.JPG
    klass: graphic-design
    desc: 
  - image: images/sandhurst/IMG_1074.JPG
    title: 
    link_to: images/sandhurst/IMG_1074.JPG
    klass: graphic-design
    desc: 
  - image: images/sandhurst/IMG_1075.JPG
    title: 
    link_to: images/sandhurst/IMG_1075.JPG
    klass: graphic-design
    desc: 
  - image: images/sandhurst/IMG_1079.JPG
    title: 
    link_to: images/sandhurst/IMG_1079.JPG
    klass: graphic-design
    desc: 
  - image: images/sandhurst/IMG_1081.JPG
    title: 
    link_to: images/sandhurst/IMG_1081.JPG
    klass: graphic-design
    desc: 
  - image: images/sandhurst/IMG_1082.JPG
    title: 
    link_to: images/sandhurst/IMG_1082.JPG
    klass: graphic-design
    desc: 
  - image: images/sandhurst/IMG_1086.JPG
    title: 
    link_to: images/sandhurst/IMG_1086.JPG
    klass: graphic-design
    desc: 
  - image: images/sandhurst/IMG_1088.JPG
    title: 
    link_to: images/sandhurst/IMG_1088.JPG
    klass: graphic-design
    desc: 
  - image: images/sandhurst/IMG_1089.JPG
    title: 
    link_to: images/sandhurst/IMG_1089.JPG
    klass: graphic-design
    desc: 
  - image: images/sandhurst/IMG_1092.JPG
    title: 
    link_to: images/sandhurst/IMG_1092.JPG
    klass: graphic-design
    desc: 
  - image: images/sandhurst/IMG_1094.JPG
    title: 
    link_to: images/sandhurst/IMG_1094.JPG
    klass: graphic-design
    desc: 
  - image: images/sandhurst/IMG_1095.JPG
    title: 
    link_to: images/sandhurst/IMG_1095.JPG
    klass: graphic-design
    desc: 
  - image: images/sandhurst/IMG_1096.JPG
    title: 
    link_to: images/sandhurst/IMG_1096.JPG
    klass: graphic-design
    desc: 
  - image: images/sandhurst/IMG_1097.JPG
    title: 
    link_to: images/sandhurst/IMG_1097.JPG
    klass: graphic-design
    desc: 
  - image: images/sandhurst/IMG_1099.JPG
    title: 
    link_to: images/sandhurst/IMG_1099.JPG
    klass: graphic-design
    desc: 
  - image: images/sandhurst/IMG_1100.JPG
    title: 
    link_to: images/sandhurst/IMG_1100.JPG
    klass: graphic-design
    desc: 
  - image: images/sandhurst/IMG_1102.JPG
    title: 
    link_to: images/sandhurst/IMG_1102.JPG
    klass: graphic-design
    desc: 
  - image: images/sandhurst/IMG_1103.JPG
    title: 
    link_to: images/sandhurst/IMG_1103.JPG
    klass: graphic-design
    desc: 
  - image: images/sandhurst/IMG_1112.JPG
    title: 
    link_to: images/sandhurst/IMG_1112.JPG
    klass: graphic-design
    desc: 
  - image: images/sandhurst/IMG_1113.JPG
    title: 
    link_to: images/sandhurst/IMG_1113.JPG
    klass: graphic-design
    desc: 
  - image: images/sandhurst/IMG_1034.JPG
    title: 
    link_to: images/sandhurst/IMG_1034.JPG
    klass: graphic-design
    desc: 
  - image: images/sandhurst/IMG_1043.JPG
    title: 
    link_to: images/sandhurst/IMG_1043.JPG
    klass: graphic-design
    desc: 
  - image: images/sandhurst/IMG_1054.JPG
    title: 
    link_to: images/sandhurst/IMG_1054.JPG
    klass: graphic-design
    desc: 
  - image: images/sandhurst/IMG_1057.JPG
    title: 
    link_to: images/sandhurst/IMG_1057.JPG
    klass: graphic-design
    desc: 
  - image: images/sandhurst/IMG_1064.JPG
    title: 
    link_to: images/sandhurst/IMG_1064.JPG
    klass: graphic-design
    desc: 
  - image: images/sandhurst/IMG_1065.JPG
    title: 
    link_to: images/sandhurst/IMG_1065.JPG
    klass: graphic-design
    desc: 
  - image: images/sandhurst/IMG_1066.JPG
    title: 
    link_to: images/sandhurst/IMG_1066.JPG
    klass: graphic-design
    desc: 
  - image: images/sandhurst/IMG_1069.JPG
    title: 
    link_to: images/sandhurst/IMG_1069.JPG
    klass: graphic-design
    desc: 
  - image: images/sandhurst/IMG_1070.JPG
    title: 
    link_to: images/sandhurst/IMG_1070.JPG
    klass: graphic-design
    desc: 
  - image: images/sandhurst/IMG_1073.JPG
    title: 
    link_to: images/sandhurst/IMG_1073.JPG
    klass: graphic-design
    desc: 
  - image: images/sandhurst/IMG_1076.JPG
    title: 
    link_to: images/sandhurst/IMG_1076.JPG
    klass: graphic-design
    desc: 
  - image: images/sandhurst/IMG_1077.JPG
    title: 
    link_to: images/sandhurst/IMG_1077.JPG
    klass: graphic-design
    desc: 
  - image: images/sandhurst/IMG_1078.JPG
    title: 
    link_to: images/sandhurst/IMG_1078.JPG
    klass: graphic-design
    desc: 
  - image: images/sandhurst/IMG_1080.JPG
    title: 
    link_to: images/sandhurst/IMG_1080.JPG
    klass: graphic-design
    desc: 
  - image: images/sandhurst/IMG_1083.JPG
    title: 
    link_to: images/sandhurst/IMG_1083.JPG
    klass: graphic-design
    desc: 
  - image: images/sandhurst/IMG_1084.JPG
    title: 
    link_to: images/sandhurst/IMG_1084.JPG
    klass: graphic-design
    desc: 
  - image: images/sandhurst/IMG_1085.JPG
    title: 
    link_to: images/sandhurst/IMG_1085.JPG
    klass: graphic-design
    desc: 
  - image: images/sandhurst/IMG_1087.JPG
    title: 
    link_to: images/sandhurst/IMG_1087.JPG
    klass: graphic-design
    desc: 
  - image: images/sandhurst/IMG_1090.JPG
    title: 
    link_to: images/sandhurst/IMG_1090.JPG
    klass: graphic-design
    desc: 
  - image: images/sandhurst/IMG_1093.JPG
    title: 
    link_to: images/sandhurst/IMG_1093.JPG
    klass: graphic-design
    desc: 
  - image: images/sandhurst/IMG_1101.JPG
    title: 
    link_to: images/sandhurst/IMG_1101.JPG
    klass: graphic-design
    desc: 
  - image: images/sandhurst/IMG_1104.JPG
    title: 
    link_to: images/sandhurst/IMG_1104.JPG
    klass: graphic-design
    desc: 
  - image: images/sandhurst/IMG_1105.JPG
    title: 
    link_to: images/sandhurst/IMG_1105.JPG
    klass: graphic-design
    desc: 
  - image: images/sandhurst/IMG_1106.JPG
    title: 
    link_to: images/sandhurst/IMG_1106.JPG
    klass: graphic-design
    desc: 
  - image: images/sandhurst/IMG_1107.JPG
    title: 
    link_to: images/sandhurst/IMG_1107.JPG
    klass: graphic-design
    desc: 
  - image: images/sandhurst/IMG_1108.JPG
    title: 
    link_to: images/sandhurst/IMG_1108.JPG
    klass: graphic-design
    desc: 
  - image: images/sandhurst/IMG_1109.JPG
    title: 
    link_to: images/sandhurst/IMG_1109.JPG
    klass: graphic-design
    desc: 
  - image: images/sandhurst/IMG_1110.JPG
    title: 
    link_to: images/sandhurst/IMG_1110.JPG
    klass: graphic-design
    desc: 
  - image: images/sandhurst/IMG_1111.JPG
    title: 
    link_to: images/sandhurst/IMG_1111.JPG
    klass: graphic-design
    desc: 
  - image: images/sandhurst/IMG_1114.JPG
    title: 
    link_to: images/sandhurst/IMG_1114.JPG
    klass: graphic-design
    desc: 
  - image: images/sandhurst/IMG_1115.JPG
    title: 
    link_to: images/sandhurst/IMG_1115.JPG
    klass: graphic-design
    desc: 
  - image: images/sandhurst/IMG_1116.JPG
    title: 
    link_to: images/sandhurst/IMG_1116.JPG
    klass: graphic-design
    desc: 
  - image: images/sandhurst/IMG_1117.JPG
    title: 
    link_to: images/sandhurst/IMG_1117.JPG
    klass: graphic-design
    desc: 
  - image: images/sandhurst/IMG_3221.JPG
    title: 
    link_to: images/sandhurst/IMG_3221.JPG
    klass: graphic-design
    desc: 
  - image: images/sandhurst/IMG_3222.JPG
    title: 
    link_to: images/sandhurst/IMG_3222.JPG
    klass: graphic-design
    desc: 
  - image: images/sandhurst/IMG_3223.JPG
    title: 
    link_to: images/sandhurst/IMG_3223.JPG
    klass: graphic-design
    desc: 
  - image: images/sandhurst/IMG_3224.JPG
    title: 
    link_to: images/sandhurst/IMG_3224.JPG
    klass: graphic-design
    desc: 
  - image: images/sandhurst/IMG_3225.JPG
    title: 
    link_to: images/sandhurst/IMG_3225.JPG
    klass: graphic-design
    desc: 
---


<div class='full parallax' style='background-image: url(images/rgsitting.png); color: #fff;'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="Estate Sales" tagline="" color="#fff" class="big" %}
    </div>
  </div>
  <div class='four spacing'></div>
</div>

<div class='full'>
  <div class='row'>
    <div class='twelve columns'>
      <h1>Upcoming Sale</h1>
      <h2>May 6-May 7</h2>
      <h3>FANTASTIC ESTATE SALE JUST IN TIME FOR SPRING!</h3> 
      <p>You won’t want to miss this sale! HOUSE FULL of treasures located in the convenient area of Northeast Dallas. This sale offers everything from a huge collection of square dancing dresses, petticoats and attire, to fine furniture including a beautiful Huntley china buffet, garden décor, women’s clothing, and more! </p>
      <h3>Saturday and Sunday May 6th and May 7th, 9-5pm </h3>
      <p>Cash and Credit Cards accepted <br>Large furniture items to be moved and loaded by customer </p>
      <h3>VINTAGE SQUARE DANCING DRESSES</h3>
      <p>You won’t find a larger collection of beautiful, vintage square dancing dresses, skirts, tops, petticoats, bloomers and shoes! An entire closet full of clothes to swing your partner round and round!</p>  
      <h3>ARTWORK</h3> 
      <p>4 panel framed tetraptyph from artist Nicolo DeCorsi, framed signed print by W.A. Slaughter, William Henry Blackman framed print and more.</p>
      <h3>GARDEN DÉCOR</h3> 
      <p>Vintage shell macramé plant hangers, McCoy and Haeger ceramic planters, terra cotta pots of all sizes, table and chairs, and more. Perfect for getting your home and garden ready for Spring!</p>  
      <h3>ROOM FULL OF SEASONAL DÉCOR</h3> 
      <p>Christmas, Halloween, Easter, ornaments, wreaths, candles, tree ornaments, wrapping paper, gift bags.</p>
      <h3>GREETING CARDS</h3>
      <p>HUNDREDS of brand new, never opened greeting cards for all occasions!  It’s like a miniature Hallmark store!</p>
      <h3>FURNITURE</h3>
      <p>Beautiful Huntley mahogany china buffet, mahogany dining table with brass lion feet with leaves that seat 6, sideboard, 2 queen headboards and mattress sets, bedroom furniture including nightstands and dressers, sofa recliner with full motorized reclining and lifting capability, 4 mint condition wingback chairs with gorgeous upholstery, vintage Fostoria glassware in Colony and Cube patterns, entertainment center, kitchen table and chairs, and more!</p>
      <h3>COSTUME JEWELRY</h3>
      <p>Vintage beautiful broaches and pins, charm bracelets, bracelets, necklaces, earrings (including a large collection of clip-ons).</p>
      <h3>WOMEN’S CLOTHING AND SHOES</h3> 
      <p>Dresses, pants suits, skirts, blouses, sweaters, coats. Most are Petite L and XL. Shoes are mostly 8 ½’s and 9’s.</p>
      <h3>YOU WILL FIND TONS MORE TREASURES SUCH AS – Noritake china, vintage Franciscan dish set, mirrors, home decor, kitchenware, candles, lamps, handbags, books, cassettes, artwork, linens, pillows, office supplies, etc.  Get ready to spend the day shopping and finding countless treasures!!</h3>
      <p> Visit our <a href="https://www.facebook.com/judyhigdonestatesaleservices/posts/460577957618142">Facebook page</a> for a preview of items available!</p>
    </div>
  </div>
</div>


    <div class='mod modGallery'>
      <!-- 
      <div class='gallery-nav'>
        <ul>
          <li class='current'>
            <a data-cat='all' href='#'>All</a>
          </li>
          <li>
            <a data-cat='graphic-design' href='#'>Graphic Design</a>
          </li>
          <li>
            <a data-cat='web-design' href='#'>Web Design</a>
          </li>
          <li>
            <a data-cat='brand' href='#'>Brand</a>
          </li>
          <li>
            <a data-cat='development' href='#'>Development</a>
          </li>
          <li>
            <a data-cat='print' href='#'>Print</a>
          </li>
        </ul>
      </div>
      -->

      <ul class='gallery large-block-grid-4 medium-block-grid-3 small-block-grid-2'>

        {% for work in page.works %}
          <li class="{{ work.klass }}">
            <a href='{{ work.link_to }}'>
              <img alt="" src="{{ work.image }}" />
              <div class='overlay'>
                <div class='thumb-info'>
                  <h3>{{ work.title }}</h3>
                  <p>{{ work.desc }}</p>
                </div>
              </div>
            </a>
          </li>
        {% endfor %}

      </ul>
    </div>
  </div>

  <div class='four spacing'></div>
</div>
