---
layout: default
section_id: home
milestones:
  - icon: coffee
    from: 0
    to: 1015
    title: Liquidation sales

slides:
  - bg: images/sittingroom.png
    small_title:
      klass: bottom-to-top
      text: 
    title:
      klass: bottom-to-top
      text: Quality
    buttons:
      klass: bottom-to-top
      items:
        - text: What we do
          link_to: services.html
  - bg: images/deskandclock.jpg
    klass: centered-text
    small_title:
      klass: bottom-to-top
      text: 
    title: 
      klass: bottom-to-top
      text: Excellence
    buttons:
      klass: bottom-to-top
      items:
        - klass: boxed
          text: Who we are
          link_to: services.html
  - bg: images/tablecloseup.jpg
    klass: right
    small_title:
      klass: bottom-to-top
      text: 
    title:
      klass: bottom-to-top
      text: Integrity
    buttons:
      klass: bottom-to-top
      items:
        - text: Contact
          link_to: contact.html

---


<div class='mod modDefaultSlider'>
  <div class='sequence' data-autostop='on' data-timeout='0'>
    <a class='sequence-prev' href='javascript:void(0);'>
      <span></span>
    </a>
    <a class='sequence-next' href='javascript:void(0);'>
      <span></span>
    </a>
    <ul class='sequence-pagination'>
      {% for slide in page.slides %}
        {% if forloop.first %}
          {% assign class = 'current' %}
        {% else %}
          {% assign class = '' %}
        {% endif %}
        <li class="{{class}}"></li>
      {% endfor %}
    </ul>
    <ul class='sequence-canvas'>
      {% for slide in page.slides %}
        {% if forloop.first %}
          {% assign style = 'static' %}
        {% else %}
          {% assign style = '' %}
        {% endif %}

        <li class='frame {{style}} {{ slide.klass }}'>
          <div class='bg' style='background-image: url({{ slide.bg}});'></div>
          <div class='small-title {{ slide.small_title.klass }}'>
            <div class='row'>
              <div class='large-12 columns'>
                <h2>{{ slide.small_title.text }}</h2>
              </div>
            </div>
          </div>
          <div class='title {{ slide.title.klass }}'>
            <div class='row'>
              <div class='large-12 columns'>
                <h2>{{ slide.title.text }}</h2>
              </div>
            </div>
          </div>
          <div class='buttons-wrapper {{ slide.buttons.klass }}'>
            <div class='row'>
              <div class='large-12 columns'>
                <div class='two spacing'></div>
                {% for button in slide.buttons.items %}
                  <a class='button {{ button.klass }}' href='{{ button.link_to }}'>{{ button.text }}</a>
                {% endfor %}
              </div>
            </div>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>

  <div class='full'>
    <div class='row'>
      <div class='medium-8 columns'>
	<h2>Join our e-mail list:</h2>
	<br>
        <div class='form'>
          <div class='row'>
            <form method='POST' action="https://formspree.io/jahigdon54@yahoo.com">
              <div class='large-12 columns'>
                <p id='thanks' style='display: none;'>
                  Thanks for contacting us, we'll be in touch soon!
                </p>
              </div>
              <div class='medium-12 columns'>
                <input class='required' name='name' placeholder='NAME' type='text'>
                <input class='required email' name='e-mail' placeholder='E-MAIL' type='text'>
                <input class='button white' type='submit'>
              </div>
            </form>
          </div>
        </div>
        <div class='two spacing'></div>
      </div>
