---
layout: default
title: Estate Sales
section_id: estate-sales
works:  
  - image: images/2021-01/IMG_1924.HEIC
    title:
    link_to: images/2021-01/IMG_1924.HEIC
    klass: graphic-design
    desc:
---

<div class='full parallax' style='background-image: url(images/rgsitting.png); color: #fff;'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="Estate Sales" tagline="" color="#fff" class="big" %}
    </div>
  </div>
  <div class='four spacing'></div>
</div>

<div class='full'>
  <div class='row'>
    <div class='twelve columns'>
      <h1>Upcoming Sale</h1>
      <h2>Saturday, January 23 and Sunday, January 24, 9am-5pm</h2>
       <h3>Dallas, TX</h3>

<pre>
SPECTACULAR ESTATE SALE IN UNIVERSITY PARK!! 
      This sale is located in an beautiful, immaculate, 5,000sf home in University Park. Every inch is FULL of exquisite items and treasures that you cannot afford to miss.  From RARE fine art from all over the world (France, Italy, England, Japan), lush furnishings (sofas, settee, occasional chairs, tables, dressers, beds, buffets, china hutches), rugs, valuable collectibles, antique lamps, fine china, high end women's and men's clothing including over 30 cocktail dresses and formal wear, children's toys, outdoor furniture and more. Keep reading below to begin to have an idea of the amazing things in this lovely home! 

FINE ART
Constantine Kluge - large oil on canvas
Renee Theobald - huge oil on canvas
Tsuchiya Koitsu - Japanese wood block prints
Set of Japanese paintings on silk mounted in satin scrolls with custom Kobe corner - signed (These panels are EXQUISITE AND HUGE! They measure 72" high 
Gioseppe Valeriani - engravings on paper
Marco Ricco - hand colored engravings
Octavius T. Clarke - oil on canvas
Robert Macbeth - oil on canvas
Joseph W. Yarnold - oil on canvas
Manes Lichtenberg - oil on canvas
MCM Vintage Stone mosaic panel

FURNITURE
James Widdicomb ebonized credenza with amethyst knobs
Sofa designed by Sally Surkin for J. Robert Scott
Custom sectional sofa from California 
Auffray & Co. Antique French Country round drum table
Harden coffee table
Antique 3 drawer dresser with wood inlays
Kittinger wingback chair 
Milling Road Furniture by Baker side tables 
Asian nesting tables 
Vintage caned armchairs
China Cabinet
French Country China Hutch with chicken wire door insets
Drop leaf table with brass capped feet
William Allen Fine Furniture wingback chairs
Bassett Furniture buffet
Handpainted demilune cabinet
Restoration Hardware tobacco leather armchair
Calico Corners custom upholstered overstuffed chairs
La-Z-Boy swivel rockers
SWAIM barstools 
4 TV's
AND SO MUCH MORE!!!!!!
CHINA/CHRYSTAL
Waterford
Hawkes
Haviland (Limoges)
Lenox
Thomas Toft MCM Tundra Art Pottery 
Roberto Cavalli glasses
Blue CIROC martini glass set
Sand etched martini pitcher and tumblers 
Villeroy & Boch
Portland Ridgway Ironstone
Neiman Marcus
Herend 
Willams Sonoma
American Rose Camelot
Meissen teapot with warmer - "Blue Onion" pattern
Mexican confetti glasses
Vintage West Virginia orange frosted Blendo glasses
National Silver Co. goblets
Onyx stone stemmed goblets
AND SO MUCH MORE!

COLLECTIBLES/LAMPS
Swarovski figurines 
Jay Strongwater
Boehme
Baccarat
Lalique
Tiffany & Co. 
Steuben
Bing & Grondahl
Royal Daulton
Jadeite figurines
Brass urns and figurines
Vintage Colibri leaded chrystal lighter 
Antique Victorian sugar spooner with jadeite tipped spoons - STUNNING!
Antique Bamboo magazine stand
Vintage faux bamboo wall shelving - ONE OF A KIND AND LOOKS AMAZING WHEN MOUNTED !!
Enamel vases
Vintage Stiffel lamps
Repousse style lamp
Asian enamel lamps
SO MUCH MORE!

CLOTHING 
**Women's Clothing sizes - Medium, Large, X-Large, Size 6, 10, 12; shoe sizes - 71/2 and 9 (sizes represent most but not all items)**
Christian Dior
Stanley Korshak
Neiman Marcus
Saks 5th Avenue
Richilene
Naeem Khan Riazee
Vivian Dessy Diamond
Lillie Rubin
A.J. Bari
Christian Dior 
Caslon
Treasure and Bond
Madewell
**Men's Clothing sizes - Large, X-Large, 17x35/36 dress shirt length, size 12 shoes
Men’s ties - 59” long - designers include: Neiman Marcus, Hermes, Ermenegildo Zegna, Ralph Lauren by Neiman Marcus, John L. Ashe, Escada

KITCHEN
** A baker and cook's dream!!**
Commercial Aluminum Cookware
Revereware
Vintage Pyrex
Cuisinart small appliances (Ice cream maker , food processor and more)
Veggie Bullet with all attachments
Panasonic Bread maker (a HUGE trend during these COVID times!)
Williams Sonoma
Crate and Barrel
Bakeware - USA Pan, Wilton, dozens of commercial grade baking and cooking items (sheet pans of all sizes, baking molds, accessories, mixing bowl sets, the list goes on!)

CHILDREN
American Girl Dolls and Accessories
North American Bear Company
Collectible DISNEY VHS tapes - ALL the classics!
Vintage Tonka 
Puzzles
Board Games
Legos/Duplos
Tinker Toys
Stuffed Animals
Children's Books

SEASONAL- Decor for every season and holiday, an entire huge room dedicated to just this!

GARAGE/OUTDOOR FULL
Outdoor wooden rocking chairs
Grill
Vintage metal baker's rack
Chaise lounge and matching chair
Excercise Equipment
Dog crates for all size pups!
Hardware for interior doors, cabinets, etc. 
Ceiling fans
Light fixtures
Planters
</pre>
    </div>
  </div>
</div>


    <div class='mod modGallery'>
      <!-- 
      <div class='gallery-nav'>
        <ul>
          <li class='current'>
            <a data-cat='all' href='#'>All</a>
          </li>
          <li>
            <a data-cat='graphic-design' href='#'>Graphic Design</a>
          </li>
          <li>
            <a data-cat='web-design' href='#'>Web Design</a>
          </li>
          <li>
            <a data-cat='brand' href='#'>Brand</a>
          </li>
          <li>
            <a data-cat='development' href='#'>Development</a>
          </li>
          <li>
            <a data-cat='print' href='#'>Print</a>
          </li>
        </ul>
      </div>
      -->

      <ul class='gallery large-block-grid-4 medium-block-grid-3 small-block-grid-2'>

        {% for work in page.works %}
          <li class="{{ work.klass }}">
            <a href='{{ work.link_to }}'>
              <img alt="" src="{{ work.image }}" />
              <div class='overlay'>
                <div class='thumb-info'>
                  <h3>{{ work.title }}</h3>
                  <p>{{ work.desc }}</p>
                </div>
              </div>
            </a>
          </li>
        {% endfor %}

      </ul>
    </div>
  </div>

  <div class='four spacing'></div>
</div>
