---
layout: default
title: Estate Sales
section_id: estate-sales
works:
  - image: images/july2017/img_000.jpg
    title:
    link_to: images/july2017/img_000.jpg
    klass: graphic-design
    desc:
  - image: images/july2017/img_001.jpg
    title:
    link_to: images/july2017/img_001.jpg
    klass: graphic-design
    desc:
  - image: images/july2017/img_002.jpg
    title:
    link_to: images/july2017/img_002.jpg
    klass: graphic-design
    desc:
  - image: images/july2017/img_003.jpg
    title:
    link_to: images/july2017/img_003.jpg
    klass: graphic-design
    desc:
  - image: images/july2017/img_004.jpg
    title:
    link_to: images/july2017/img_004.jpg
    klass: graphic-design
    desc:
  - image: images/july2017/img_005.jpg
    title:
    link_to: images/july2017/img_005.jpg
    klass: graphic-design
    desc:
  - image: images/july2017/img_006.jpg
    title:
    link_to: images/july2017/img_006.jpg
    klass: graphic-design
    desc:
  - image: images/july2017/img_007.jpg
    title:
    link_to: images/july2017/img_007.jpg
    klass: graphic-design
    desc:
  - image: images/july2017/img_008.jpg
    title:
    link_to: images/july2017/img_008.jpg
    klass: graphic-design
    desc:
  - image: images/july2017/img_009.jpg
    title:
    link_to: images/july2017/img_009.jpg
    klass: graphic-design
    desc:
  - image: images/july2017/img_010.jpg
    title:
    link_to: images/july2017/img_010.jpg
    klass: graphic-design
    desc:
  - image: images/july2017/img_011.jpg
    title:
    link_to: images/july2017/img_011.jpg
    klass: graphic-design
    desc:
  - image: images/july2017/img_012.jpg
    title:
    link_to: images/july2017/img_012.jpg
    klass: graphic-design
    desc:
  - image: images/july2017/img_013.jpg
    title:
    link_to: images/july2017/img_013.jpg
    klass: graphic-design
    desc:
  - image: images/july2017/img_014.jpg
    title:
    link_to: images/july2017/img_014.jpg
    klass: graphic-design
    desc:
  - image: images/july2017/img_015.jpg
    title:
    link_to: images/july2017/img_015.jpg
    klass: graphic-design
    desc:
  - image: images/july2017/img_016.jpg
    title:
    link_to: images/july2017/img_016.jpg
    klass: graphic-design
    desc:
  - image: images/july2017/img_017.jpg
    title:
    link_to: images/july2017/img_017.jpg
    klass: graphic-design
    desc:
  - image: images/july2017/img_018.jpg
    title:
    link_to: images/july2017/img_018.jpg
    klass: graphic-design
    desc:
  - image: images/july2017/img_019.jpg
    title:
    link_to: images/july2017/img_019.jpg
    klass: graphic-design
    desc:
  - image: images/july2017/img_020.jpg
    title:
    link_to: images/july2017/img_020.jpg
    klass: graphic-design
    desc:
  - image: images/july2017/img_021.jpg
    title:
    link_to: images/july2017/img_021.jpg
    klass: graphic-design
    desc:
  - image: images/july2017/img_022.jpg
    title:
    link_to: images/july2017/img_022.jpg
    klass: graphic-design
    desc:
  - image: images/july2017/img_023.jpg
    title:
    link_to: images/july2017/img_023.jpg
    klass: graphic-design
    desc:
  - image: images/july2017/img_024.jpg
    title:
    link_to: images/july2017/img_024.jpg
    klass: graphic-design
    desc:
  - image: images/july2017/img_025.jpg
    title:
    link_to: images/july2017/img_025.jpg
    klass: graphic-design
    desc:
  - image: images/july2017/img_026.jpg
    title:
    link_to: images/july2017/img_026.jpg
    klass: graphic-design
    desc:
  - image: images/july2017/img_027.jpg
    title:
    link_to: images/july2017/img_027.jpg
    klass: graphic-design
    desc:
  - image: images/july2017/img_028.jpg
    title:
    link_to: images/july2017/img_028.jpg
    klass: graphic-design
    desc:
  - image: images/july2017/img_029.jpg
    title:
    link_to: images/july2017/img_029.jpg
    klass: graphic-design
    desc:
  - image: images/july2017/img_030.jpg
    title:
    link_to: images/july2017/img_030.jpg
    klass: graphic-design
    desc:
  - image: images/july2017/img_031.jpg
    title:
    link_to: images/july2017/img_031.jpg
    klass: graphic-design
    desc:
  - image: images/july2017/img_032.jpg
    title:
    link_to: images/july2017/img_032.jpg
    klass: graphic-design
    desc:
  - image: images/july2017/img_033.jpg
    title:
    link_to: images/july2017/img_033.jpg
    klass: graphic-design
    desc:
  - image: images/july2017/img_034.jpg
    title:
    link_to: images/july2017/img_034.jpg
    klass: graphic-design
    desc:
  - image: images/july2017/img_035.jpg
    title:
    link_to: images/july2017/img_035.jpg
    klass: graphic-design
    desc:
  - image: images/july2017/img_036.jpg
    title:
    link_to: images/july2017/img_036.jpg
    klass: graphic-design
    desc:
  - image: images/july2017/img_037.jpg
    title:
    link_to: images/july2017/img_037.jpg
    klass: graphic-design
    desc:
  - image: images/july2017/img_038.jpg
    title:
    link_to: images/july2017/img_038.jpg
    klass: graphic-design
    desc:
  - image: images/july2017/img_039.jpg
    title:
    link_to: images/july2017/img_039.jpg
    klass: graphic-design
    desc:
  - image: images/july2017/img_040.jpg
    title:
    link_to: images/july2017/img_040.jpg
    klass: graphic-design
    desc:
  - image: images/july2017/img_041.jpg
    title:
    link_to: images/july2017/img_041.jpg
    klass: graphic-design
    desc:
  - image: images/july2017/img_042.jpg
    title:
    link_to: images/july2017/img_042.jpg
    klass: graphic-design
    desc:
  - image: images/july2017/img_043.jpg
    title:
    link_to: images/july2017/img_043.jpg
    klass: graphic-design
    desc:
  - image: images/july2017/img_044.jpg
    title:
    link_to: images/july2017/img_044.jpg
    klass: graphic-design
    desc:
  - image: images/july2017/img_045.jpg
    title:
    link_to: images/july2017/img_045.jpg
    klass: graphic-design
    desc:
  - image: images/july2017/img_046.jpg
    title:
    link_to: images/july2017/img_046.jpg
    klass: graphic-design
    desc:
  - image: images/july2017/img_047.jpg
    title:
    link_to: images/july2017/img_047.jpg
    klass: graphic-design
    desc:
  - image: images/july2017/img_048.jpg
    title:
    link_to: images/july2017/img_048.jpg
    klass: graphic-design
    desc:
  - image: images/july2017/img_049.jpg
    title:
    link_to: images/july2017/img_049.jpg
    klass: graphic-design
    desc:
  - image: images/july2017/img_050.jpg
    title:
    link_to: images/july2017/img_050.jpg
    klass: graphic-design
    desc:
  - image: images/july2017/img_088.jpg
    title:
    link_to: images/july2017/img_088.jpg
    klass: graphic-design
    desc:
  - image: images/july2017/img_090.jpg
    title:
    link_to: images/july2017/img_090.jpg
    klass: graphic-design
    desc:
  - image: images/july2017/img_092.jpg
    title:
    link_to: images/july2017/img_092.jpg
    klass: graphic-design
    desc:
  - image: images/july2017/img_096.jpg
    title:
    link_to: images/july2017/img_096.jpg
    klass: graphic-design
    desc:
  - image: images/july2017/img_100.jpg
    title:
    link_to: images/july2017/img_100.jpg
    klass: graphic-design
    desc:
  - image: images/july2017/img_102.jpg
    title:
    link_to: images/july2017/img_102.jpg
    klass: graphic-design
    desc:
  - image: images/july2017/img_104.jpg
    title:
    link_to: images/july2017/img_104.jpg
    klass: graphic-design
    desc:
  - image: images/july2017/img_105.jpg
    title:
    link_to: images/july2017/img_105.jpg
    klass: graphic-design
    desc:
  - image: images/july2017/img_108.jpg
    title:
    link_to: images/july2017/img_108.jpg
    klass: graphic-design
    desc:
  - image: images/july2017/img_110.jpg
    title:
    link_to: images/july2017/img_110.jpg
    klass: graphic-design
    desc:
  - image: images/july2017/img_112.jpg
    title:
    link_to: images/july2017/img_112.jpg
    klass: graphic-design
    desc:
  - image: images/july2017/img_114.jpg
    title:
    link_to: images/july2017/img_114.jpg
    klass: graphic-design
    desc:
  - image: images/july2017/img_118.jpg
    title:
    link_to: images/july2017/img_118.jpg
    klass: graphic-design
    desc:
  - image: images/july2017/img_120.jpg
    title:
    link_to: images/july2017/img_120.jpg
    klass: graphic-design
    desc:
  - image: images/july2017/img_122.jpg
    title:
    link_to: images/july2017/img_122.jpg
    klass: graphic-design
    desc:
  - image: images/july2017/img_124.jpg
    title:
    link_to: images/july2017/img_124.jpg
    klass: graphic-design
    desc:
  - image: images/july2017/img_126.jpg
    title:
    link_to: images/july2017/img_126.jpg
    klass: graphic-design
    desc:
  - image: images/july2017/img_128.jpg
    title:
    link_to: images/july2017/img_128.jpg
    klass: graphic-design
    desc:
  - image: images/july2017/img_130.jpg
    title:
    link_to: images/july2017/img_130.jpg
    klass: graphic-design
    desc:
  - image: images/july2017/img_132.jpg
    title:
    link_to: images/july2017/img_132.jpg
    klass: graphic-design
    desc:
  - image: images/july2017/img_134.jpg
    title:
    link_to: images/july2017/img_134.jpg
    klass: graphic-design
    desc:
  - image: images/july2017/img_136.jpg
    title:
    link_to: images/july2017/img_136.jpg
    klass: graphic-design
    desc:
  - image: images/july2017/img_138.jpg
    title:
    link_to: images/july2017/img_138.jpg
    klass: graphic-design
    desc:
  - image: images/july2017/img_140.jpg
    title:
    link_to: images/july2017/img_140.jpg
    klass: graphic-design
    desc:
  - image: images/july2017/img_142.jpg
    title:
    link_to: images/july2017/img_142.jpg
    klass: graphic-design
    desc:
  - image: images/july2017/img_144.jpg
    title:
    link_to: images/july2017/img_144.jpg
    klass: graphic-design
    desc:
  - image: images/july2017/img_146.jpg
    title:
    link_to: images/july2017/img_146.jpg
    klass: graphic-design
    desc:
  - image: images/july2017/img_148.jpg
    title:
    link_to: images/july2017/img_148.jpg
    klass: graphic-design
    desc:
  - image: images/july2017/img_209.jpg
    title:
    link_to: images/july2017/img_209.jpg
    klass: graphic-design
    desc:
  - image: images/july2017/img_210.jpg
    title:
    link_to: images/july2017/img_210.jpg
    klass: graphic-design
    desc:
  - image: images/july2017/img_212.jpg
    title:
    link_to: images/july2017/img_212.jpg
    klass: graphic-design
    desc:
  - image: images/july2017/img_213.jpg
    title:
    link_to: images/july2017/img_213.jpg
    klass: graphic-design
    desc:
  - image: images/july2017/img_214.jpg
    title:
    link_to: images/july2017/img_214.jpg
    klass: graphic-design
    desc:
  - image: images/july2017/img_215.jpg
    title:
    link_to: images/july2017/img_215.jpg
    klass: graphic-design
    desc:
  - image: images/july2017/img_216.jpg
    title:
    link_to: images/july2017/img_216.jpg
    klass: graphic-design
    desc:
  - image: images/july2017/img_217.jpg
    title:
    link_to: images/july2017/img_217.jpg
    klass: graphic-design
    desc:
  - image: images/july2017/img_218.jpg
    title:
    link_to: images/july2017/img_218.jpg
    klass: graphic-design
    desc:
---


<div class='full parallax' style='background-image: url(images/rgsitting.png); color: #fff;'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="Estate Sales" tagline="" color="#fff" class="big" %}
    </div>
  </div>
  <div class='four spacing'></div>
</div>

<div class='full'>
  <div class='row'>
    <div class='twelve columns'>
      <h1>Upcoming Sale</h1>
      <h2>Saturday and Sunday, July 29-30</h2>
      <h3>4105 Stanton Boulevard, Plano, TX 75093</h3>
      <p>9am-5pm</p>
      <p>Police officer will be on premises</p>
      <p>Children MUST be accompanied by adult</p>
      <p>Cash or Credit Cards accepted; Not responsible for moving large items</p>
      <br>
      <p>This is a beautiful neighborhood. Please be courteous to the surrounding neighbors and do not block driveways. </p>

      <h3>THIS SALE IS NOT ONE TO MISS IN 2017!!</h3> 
      <p>A true estate sale, this house is FULL of quality items that you will have to see to believe!! This is just the tip of the iceberg!</p>
      <h3>OVER 100 PIECES OF JEWELRY!!</h3> 
      <p>Angel skin coral, pearls, diamonds, gold, sterling, Tiffany-Elsa  Peretti “Diamonds by the Yard”, Emeralds, Australia Fire Opal, Lavender and Green Jade, Tourmaline, Turquoise, Original by Robert, J. Peterman Company “The Heart Of The Ocean” from the Titanic movie and SO much more!! </p>
      <p>LOOSE STONES – Citrine, Smokey Topaz, Jadeite, Turquoise</p>
      <p>VINTAGE COSTUME JEWELRY</p>
      <p>COLLECTIBLES AND SMALL ANTIQUES - Chinese vases, Wedgwood, Jadeite Figurines, Lladro, Hummels, Swords, Vintage Rosenthal, and many more</p>
      <p>CRYSTAL – Waterford and Tiffany</p>
      <p>ANTIQUE DOLLS -  including Armand Marseille Bisque Baby Doll</p>
      <p>SILVER – Gorham, Arthur Court</p>
      <p>BOOKS – Including very rare 1871 copy of the Masonic Dogma and Doctrine, 1944 copy of Asterperious (319th Heavy Bombardment Squadron in the South-West Pacific Area) </p>
      <p>FURNITURE – Large Pine Hutch, Curio Cabinet, China Cabinet, Huge farmhouse dining table and chairs, Kathy Adams Interiors and Furnishings, Side tables, coffee table, desks, bookcase, kitchen table and chairs, exquisite custom wood carved queen size bed, ottomans, armoire, and MORE! </p>
      <p>Turkish Rugs</p>
      <p>HOME DÉCOR of all kinds including framed art, lamps, candles, and much more. </p>
      <p>KITCHENWARES -  Sur La Table, Williams Sonoma, Calphalon, Bon Appetit, Cuisinart, Crate and Barrel, copper and more!! </p>
      <p>WOMEN’S CLOTHING – shoes including 10 pairs of Tom’s shoes, dresses, shirts, jackets, coats, and much more</p>
      <p>LINENS – bedding, towels, table linens, etc. </p>
      <p>Samsung Front Load W/D</p>
      <p>Patio Furniture and Outdoor Decor</p>
      <p>Garage FULL – seasonal décor, tools, office supplies and more!</p>
    </div>
  </div>
</div>


    <div class='mod modGallery'>
      <!-- 
      <div class='gallery-nav'>
        <ul>
          <li class='current'>
            <a data-cat='all' href='#'>All</a>
          </li>
          <li>
            <a data-cat='graphic-design' href='#'>Graphic Design</a>
          </li>
          <li>
            <a data-cat='web-design' href='#'>Web Design</a>
          </li>
          <li>
            <a data-cat='brand' href='#'>Brand</a>
          </li>
          <li>
            <a data-cat='development' href='#'>Development</a>
          </li>
          <li>
            <a data-cat='print' href='#'>Print</a>
          </li>
        </ul>
      </div>
      -->

      <ul class='gallery large-block-grid-4 medium-block-grid-3 small-block-grid-2'>

        {% for work in page.works %}
          <li class="{{ work.klass }}">
            <a href='{{ work.link_to }}'>
              <img alt="" src="{{ work.image }}" />
              <div class='overlay'>
                <div class='thumb-info'>
                  <h3>{{ work.title }}</h3>
                  <p>{{ work.desc }}</p>
                </div>
              </div>
            </a>
          </li>
        {% endfor %}

      </ul>
    </div>
  </div>

  <div class='four spacing'></div>
</div>
