---
layout: default
title: Estate Sales
section_id: estate-sales
works:
  - image: images/june2019_img001.jpg
    title:
    link_to: images/june2019_img001.jpg
    klass: graphic-design
    desc:
---


<div class='full parallax' style='background-image: url(images/rgsitting.png); color: #fff;'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="Estate Sales" tagline="" color="#fff" class="big" %}
    </div>
  </div>
  <div class='four spacing'></div>
</div>

<div class='full'>
  <div class='row'>
    <div class='twelve columns'>
      <h1>Completed Sale</h1>
      <h2>Saturday, June 29 and Sunday, June 30, 9-5pm</h2>
       <h3>Richardson, TX 75082</h3>

<p>Several years of living in North Korea and a lifetime of world travel has culminated in a fascinating and unique collection of treasures. Listed below are but a few examples of the exceptional items that will be available. Pictures are included for your consideration, but these gems should be examined in person in order to appreciate their full splendor!</p>

<h3>ART</h3>
<p>Harwood K. Smith - watercolors (2)</p>
<p>Salvador Dali - etching</p>
<p>Charley Harper - signed/numbered serigraphs and prints</p>
<p>Chris Baumgartner - mixed media collage 'Red Heat'</p>
<p>The War is Over - WWII - large grouping of newspapers in oak frame</p>
<p>Kaiko Moti - lithograph</p>
<p>Arleen Husby - oil painting</p>
<p>Ruth Alexander - watercolor</p>
<p>Don Eckleberry - signed/numbered lithograph 'Skimmers on the Beach'</p>
<p>Robert A. Garland - signed prints</p>
<p>E. John Robinson - signed prints</p>
<p>Kittye Roberts - acrylic on board</p>
<p>Marino - oil on board</p>
<p>Moreno - pin and ink</p>
<p>Original oil - d'apres HENNER</p>
<p>Original oil on canvas (portrait of a boy) - Late 1800's - artist unknown</p>
<p>Japanese painting on silk, needlework, silks - Kobe frames</p>
<p>Lithograph by Sister Mary Andre</p>
<p>Lalique - Madonna and child statue</p>

<h3>FURNITURE AND APPLIANCES</h3>
<p>Oriental black lacquer cabinet with relief - hand painted</p>
<p>Area rugs - all sizes</p>
<p>Dining table - 6 white Parsons chairs</p>
<p>Antique child's rocking chair</p>
<p>Freezer</p>
<p>LG Refrigerator</p>
<p>LG dryer</p>
<p>Whirlpool washing machine</p>
<p>Portable fireplace heater</p>
<p>Vintage sleigh bed (twin)</p>

<h3>OTHER</h3>
<p>Albums - Beatles, John Lennon, Tom Petty, Rolling Stones, David Bowie and so many more!</p>
<p>Vintage Games - The Legend of Zelda (like new!), Carrom board game, Juicy Couture Monopoly</p>
<p>Vintage Murano Art Glass Clown Wine Decanter</p>
<p>Hadeland Norway Cobalt Vases</p>
<p>Waterford crystal</p>
<p>Val St. Lambert</p>
<p>Sterling and silver plate</p>
<p>Nolan Ryan signed baseball</p>
<p>Bobby Valentine signed baseball card</p>
<p>Harper Lee 'To Kill A Mockingbird' - Ukranian Edition</p>
<p>Lawn mowers, bicycles, golf clubs and garage full!</p>

<h2>Click <a href='https://www.estatesales.net/TX/Richardson/75082/2268291'>here</a> for pictures</h2>
    </div>
  </div>
</div>


    <div class='mod modGallery'>
      <!-- 
      <div class='gallery-nav'>
        <ul>
          <li class='current'>
            <a data-cat='all' href='#'>All</a>
          </li>
          <li>
            <a data-cat='graphic-design' href='#'>Graphic Design</a>
          </li>
          <li>
            <a data-cat='web-design' href='#'>Web Design</a>
          </li>
          <li>
            <a data-cat='brand' href='#'>Brand</a>
          </li>
          <li>
            <a data-cat='development' href='#'>Development</a>
          </li>
          <li>
            <a data-cat='print' href='#'>Print</a>
          </li>
        </ul>
      </div>
      -->

      <ul class='gallery large-block-grid-4 medium-block-grid-3 small-block-grid-2'>

        {% for work in page.works %}
          <li class="{{ work.klass }}">
            <a href='{{ work.link_to }}'>
              <img alt="" src="{{ work.image }}" />
              <div class='overlay'>
                <div class='thumb-info'>
                  <h3>{{ work.title }}</h3>
                  <p>{{ work.desc }}</p>
                </div>
              </div>
            </a>
          </li>
        {% endfor %}

      </ul>
    </div>
  </div>

  <div class='four spacing'></div>
</div>
