---
layout: default
title: Estate Sales
section_id: estate-sales
---


<div class='full parallax' style='background-image: url(images/rgsitting.png); color: #fff;'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="Estate Sales" tagline="" color="#fff" class="big" %}
    </div>
  </div>
  <div class='four spacing'></div>
</div>

<div class='full'>
  <div class='row'>
    <div class='twelve columns'>
      <h1>Completed Sale</h1>
      <h2>Saturday, March 9 and Sunday, March 10, 9-5pm</h2>
       <h3>Mockingbird Lane, Dallas, TX 75214</h3>
<p>Cash and Credit Cards accepted </p>

<p>Spring is almost here! This is one sale you won’t want to miss! Stock up on beautiful furniture to refresh your home! There is something for everyone, from high end contemporary\
 furnishings, electronics, appliances, designer men’s clothing including suits, ties and shoes and so much more!</p>

<h3>CRATE&BARREL</h3>
<p>Steamer Bar Cabinet, Tahoe Bookcase, Elevate Walnut Bookcase, Petrie Chair and ottoman (Color – Poppy), Aidan Leather Sofa, Aidan Leather Chair, Parsons Side Tables w/glass top \
(2), Seguro Coffee Table, Seguro Mirror</p>

<h3>FREED’S</h3>
<p>Deep River Trestle Dining Table – Sugar Maple, Deep River (8) Side Chairs – Arm Chairs (2) - Sugar Maple, Deep River Sideboard – Sugar Maple, Counter Table (Bistro) with Glass T\
op and 4 Chairs, Sleigh Bed – King Size, Marble Top Nightstands (2), Dresser and Mirror, Chest of Drawers, Media Console and Hutch</p>

<h3>OTHER</h3>
<p>Leonardo Armchairs (2) – Black Leather / Chrome, Cubicle Metal Base with Glass Top Coffee Table, Contemporary Floor and Pablo San Francisco Table Lamps (2), Momeni Newwave 9.6 x\
 13.6, Samsung 46” HDTV LCD TV, Maytag Washer and Dryer, Kenmore Side by Side Refrigerator, Kenmore Microwave, Kitchen items, Men’s suits, Men’s Ties (over 100!) – Murano, IV Front\
, Mission I Cravatte, + MORE, Men’s shoes (size 12) - Allen Edmonds, Cole Haan, FootJoy, Weight Bench and more!</p>

<p><a href='https://www.facebook.com/pg/judyhigdonestatesaleservices/photos/?tab=album&album_id=837352973273970&__xts__%5B0%5D=68.ARAVE3fe-s5SJLdpfgT1wXI5pjbiOJfRKe0onKH3TyprZJG9Zi\
KXFpY76n1WHqR3e-0x0B6FUAfEIVZ9Y2wQqVNd1xvJJmypwMrSwhA4jqXpFt1qXFdK02UbPsew3NXuQKcv2hY6KbUc4w2soyXubv-WXNG6FXOjlGVfDr4OEWXMgFxVrZJWNTcrspoUru8RH1fX83eyue_fBSLtx7okWudUe-QPf0r_eoQdjT\
27L6OkojEYU_Z9X_XPLMGxkNbjz-rJvEHdHt_E_prpHGF1aRq6BOGEDUkkilwj9ZBlZD-lgeripgT3ZhaAvL0Zwvvqa3HJVbyLsvzDe_j6-byZjU8&__tn__=-UC-R'>Visit our Facebook page for pictures</a></p>
    </div>
  </div>
</div>

    <div class='mod modGallery'>

      <ul class='gallery large-block-grid-4 medium-block-grid-3 small-block-grid-2'>

        {% for work in page.works %}
          <li class="{{ work.klass }}">
            <a href='{{ work.link_to }}'>
              <img alt="" src="{{ work.image }}" />
              <div class='overlay'>
                <div class='thumb-info'>
                  <h3>{{ work.title }}</h3>
                  <p>{{ work.desc }}</p>
                </div>
              </div>
            </a>
          </li>
        {% endfor %}

      </ul>
    </div>
  </div>

  <div class='four spacing'></div>
</div>
