---
layout: default
title: Estate Sales
section_id: estate-sales
works:
  - image: images/sandhurst/IMG_1035.JPG
    title: 
    link_to: images/sandhurst/IMG_1035.JPG
    klass: graphic-design
    desc: 
  - image: images/may2018/img001.jpg
    title:
    link_to: images/may2018/img001.jpg
    klass: graphic-design
    desc:
  - image: images/may2018/img002.jpg
    title:
    link_to: images/may2018/img002.jpg
    klass: graphic-design
    desc:
  - image: images/may2018/img003.jpg
    title:
    link_to: images/may2018/img003.jpg
    klass: graphic-design
    desc:
  - image: images/may2018/img004.jpg
    title:
    link_to: images/may2018/img004.jpg
    klass: graphic-design
    desc:
  - image: images/may2018/img005.jpg
    title:
    link_to: images/may2018/img005.jpg
    klass: graphic-design
    desc:
  - image: images/may2018/img006.jpg
    title:
    link_to: images/may2018/img006.jpg
    klass: graphic-design
    desc:
  - image: images/may2018/img007.jpg
    title:
    link_to: images/may2018/img007.jpg
    klass: graphic-design
    desc:
  - image: images/may2018/img008.jpg
    title:
    link_to: images/may2018/img008.jpg
    klass: graphic-design
    desc:
  - image: images/may2018/img009.jpg
    title:
    link_to: images/may2018/img009.jpg
    klass: graphic-design
    desc:
  - image: images/may2018/img010.jpg
    title:
    link_to: images/may2018/img010.jpg
    klass: graphic-design
    desc:
  - image: images/may2018/img011.jpg
    title:
    link_to: images/may2018/img011.jpg
    klass: graphic-design
    desc:
  - image: images/may2018/img012.jpg
    title:
    link_to: images/may2018/img012.jpg
    klass: graphic-design
    desc:
  - image: images/may2018/img013.jpg
    title:
    link_to: images/may2018/img013.jpg
    klass: graphic-design
    desc:
  - image: images/may2018/img014.jpg
    title:
    link_to: images/may2018/img014.jpg
    klass: graphic-design
    desc:
  - image: images/may2018/img015.jpg
    title:
    link_to: images/may2018/img015.jpg
    klass: graphic-design
    desc:
  - image: images/may2018/img016.jpg
    title:
    link_to: images/may2018/img016.jpg
    klass: graphic-design
    desc:
  - image: images/may2018/img017.jpg
    title:
    link_to: images/may2018/img017.jpg
    klass: graphic-design
    desc:
  - image: images/may2018/img018.jpg
    title:
    link_to: images/may2018/img018.jpg
    klass: graphic-design
    desc:
  - image: images/may2018/img019.jpg
    title:
    link_to: images/may2018/img019.jpg
    klass: graphic-design
    desc:
  - image: images/may2018/img020.jpg
    title:
    link_to: images/may2018/img020.jpg
    klass: graphic-design
    desc:
  - image: images/may2018/img021.jpg
    title:
    link_to: images/may2018/img021.jpg
    klass: graphic-design
    desc:
  - image: images/may2018/img022.jpg
    title:
    link_to: images/may2018/img022.jpg
    klass: graphic-design
    desc:
  - image: images/may2018/img023.jpg
    title:
    link_to: images/may2018/img023.jpg
    klass: graphic-design
    desc:
  - image: images/may2018/img024.jpg
    title:
    link_to: images/may2018/img024.jpg
    klass: graphic-design
    desc:
  - image: images/may2018/img025.jpg
    title:
    link_to: images/may2018/img025.jpg
    klass: graphic-design
    desc:
  - image: images/may2018/img026.jpg
    title:
    link_to: images/may2018/img026.jpg
    klass: graphic-design
    desc:
  - image: images/may2018/img027.jpg
    title:
    link_to: images/may2018/img027.jpg
    klass: graphic-design
    desc:
  - image: images/may2018/img028.jpg
    title:
    link_to: images/may2018/img028.jpg
    klass: graphic-design
    desc:
  - image: images/may2018/img029.jpg
    title:
    link_to: images/may2018/img029.jpg
    klass: graphic-design
    desc:
  - image: images/may2018/img030.jpg
    title:
    link_to: images/may2018/img030.jpg
    klass: graphic-design
    desc:
  - image: images/may2018/img031.jpg
    title:
    link_to: images/may2018/img031.jpg
    klass: graphic-design
    desc:
  - image: images/may2018/img032.jpg
    title:
    link_to: images/may2018/img032.jpg
    klass: graphic-design
    desc:
  - image: images/may2018/img033.jpg
    title:
    link_to: images/may2018/img033.jpg
    klass: graphic-design
    desc:
  - image: images/may2018/img034.jpg
    title:
    link_to: images/may2018/img034.jpg
    klass: graphic-design
    desc:
  - image: images/may2018/img035.jpg
    title:
    link_to: images/may2018/img035.jpg
    klass: graphic-design
    desc:
  - image: images/may2018/img036.jpg
    title:
    link_to: images/may2018/img036.jpg
    klass: graphic-design
    desc:
  - image: images/may2018/img037.jpg
    title:
    link_to: images/may2018/img037.jpg
    klass: graphic-design
    desc:
  - image: images/may2018/img038.jpg
    title:
    link_to: images/may2018/img038.jpg
    klass: graphic-design
    desc:
  - image: images/may2018/img039.jpg
    title:
    link_to: images/may2018/img039.jpg
    klass: graphic-design
    desc:
  - image: images/may2018/img040.jpg
    title:
    link_to: images/may2018/img040.jpg
    klass: graphic-design
    desc:
  - image: images/may2018/img041.jpg
    title:
    link_to: images/may2018/img041.jpg
    klass: graphic-design
    desc:
  - image: images/may2018/img042.jpg
    title:
    link_to: images/may2018/img042.jpg
    klass: graphic-design
    desc:
  - image: images/may2018/img043.jpg
    title:
    link_to: images/may2018/img043.jpg
    klass: graphic-design
    desc:
  - image: images/may2018/img044.jpg
    title:
    link_to: images/may2018/img044.jpg
    klass: graphic-design
    desc:
  - image: images/may2018/img045.jpg
    title:
    link_to: images/may2018/img045.jpg
    klass: graphic-design
    desc:
  - image: images/may2018/img046.jpg
    title:
    link_to: images/may2018/img046.jpg
    klass: graphic-design
    desc:
  - image: images/may2018/img047.jpg
    title:
    link_to: images/may2018/img047.jpg
    klass: graphic-design
    desc:
  - image: images/may2018/img048.jpg
    title:
    link_to: images/may2018/img048.jpg
    klass: graphic-design
    desc:
  - image: images/may2018/img049.jpg
    title:
    link_to: images/may2018/img049.jpg
    klass: graphic-design
    desc:
  - image: images/may2018/img050.jpg
    title:
    link_to: images/may2018/img050.jpg
    klass: graphic-design
    desc:
  - image: images/may2018/img051.jpg
    title:
    link_to: images/may2018/img051.jpg
    klass: graphic-design
    desc:
  - image: images/may2018/img052.jpg
    title:
    link_to: images/may2018/img052.jpg
    klass: graphic-design
    desc:
  - image: images/may2018/img053.jpg
    title:
    link_to: images/may2018/img053.jpg
    klass: graphic-design
    desc:
  - image: images/may2018/img054.jpg
    title:
    link_to: images/may2018/img054.jpg
    klass: graphic-design
    desc:
  - image: images/may2018/img055.jpg
    title:
    link_to: images/may2018/img055.jpg
    klass: graphic-design
    desc:
  - image: images/may2018/img056.jpg
    title:
    link_to: images/may2018/img056.jpg
    klass: graphic-design
    desc:
  - image: images/may2018/img057.jpg
    title:
    link_to: images/may2018/img057.jpg
    klass: graphic-design
    desc:
  - image: images/may2018/img058.jpg
    title:
    link_to: images/may2018/img058.jpg
    klass: graphic-design
    desc:
  - image: images/may2018/img059.jpg
    title:
    link_to: images/may2018/img059.jpg
    klass: graphic-design
    desc:
  - image: images/may2018/img060.jpg
    title:
    link_to: images/may2018/img060.jpg
    klass: graphic-design
    desc:
  - image: images/may2018/img061.jpg
    title:
    link_to: images/may2018/img061.jpg
    klass: graphic-design
    desc:
  - image: images/may2018/img062.jpg
    title:
    link_to: images/may2018/img062.jpg
    klass: graphic-design
    desc:
  - image: images/may2018/img063.jpg
    title:
    link_to: images/may2018/img063.jpg
    klass: graphic-design
    desc:
  - image: images/may2018/img064.jpg
    title:
    link_to: images/may2018/img064.jpg
    klass: graphic-design
    desc:
  - image: images/may2018/img065.jpg
    title:
    link_to: images/may2018/img065.jpg
    klass: graphic-design
    desc:
  - image: images/may2018/img066.jpg
    title:
    link_to: images/may2018/img066.jpg
    klass: graphic-design
    desc:
  - image: images/may2018/img067.jpg
    title:
    link_to: images/may2018/img067.jpg
    klass: graphic-design
    desc:
  - image: images/may2018/img068.jpg
    title:
    link_to: images/may2018/img068.jpg
    klass: graphic-design
    desc:
  - image: images/may2018/img069.jpg
    title:
    link_to: images/may2018/img069.jpg
    klass: graphic-design
    desc:
  - image: images/may2018/img070.jpg
    title:
    link_to: images/may2018/img070.jpg
    klass: graphic-design
    desc:
  - image: images/may2018/img071.jpg
    title:
    link_to: images/may2018/img071.jpg
    klass: graphic-design
    desc:
  - image: images/may2018/img072.jpg
    title:
    link_to: images/may2018/img072.jpg
    klass: graphic-design
    desc:
  - image: images/may2018/img073.jpg
    title:
    link_to: images/may2018/img073.jpg
    klass: graphic-design
    desc:
  - image: images/may2018/img074.jpg
    title:
    link_to: images/may2018/img074.jpg
    klass: graphic-design
    desc:
  - image: images/may2018/img075.jpg
    title:
    link_to: images/may2018/img075.jpg
    klass: graphic-design
    desc:
  - image: images/may2018/img076.jpg
    title:
    link_to: images/may2018/img076.jpg
    klass: graphic-design
    desc:
  - image: images/may2018/img077.jpg
    title:
    link_to: images/may2018/img077.jpg
    klass: graphic-design
    desc:
  - image: images/may2018/img078.jpg
    title:
    link_to: images/may2018/img078.jpg
    klass: graphic-design
    desc:
  - image: images/may2018/img079.jpg
    title:
    link_to: images/may2018/img079.jpg
    klass: graphic-design
    desc:
  - image: images/may2018/img080.jpg
    title:
    link_to: images/may2018/img080.jpg
    klass: graphic-design
    desc:
  - image: images/may2018/img081.jpg
    title:
    link_to: images/may2018/img081.jpg
    klass: graphic-design
    desc:
  - image: images/may2018/img082.jpg
    title:
    link_to: images/may2018/img082.jpg
    klass: graphic-design
    desc:
  - image: images/may2018/img083.jpg
    title:
    link_to: images/may2018/img083.jpg
    klass: graphic-design
    desc:
  - image: images/may2018/img084.jpg
    title:
    link_to: images/may2018/img084.jpg
    klass: graphic-design
    desc:
  - image: images/may2018/img085.jpg
    title:
    link_to: images/may2018/img085.jpg
    klass: graphic-design
    desc:
  - image: images/may2018/img086.jpg
    title:
    link_to: images/may2018/img086.jpg
    klass: graphic-design
    desc:
  - image: images/may2018/img087.jpg
    title:
    link_to: images/may2018/img087.jpg
    klass: graphic-design
    desc:
  - image: images/may2018/img088.jpg
    title:
    link_to: images/may2018/img088.jpg
    klass: graphic-design
    desc:
  - image: images/may2018/img089.jpg
    title:
    link_to: images/may2018/img089.jpg
    klass: graphic-design
    desc:
  - image: images/may2018/img090.jpg
    title:
    link_to: images/may2018/img090.jpg
    klass: graphic-design
    desc:
  - image: images/may2018/img091.jpg
    title:
    link_to: images/may2018/img091.jpg
    klass: graphic-design
    desc:
  - image: images/may2018/img092.jpg
    title:
    link_to: images/may2018/img092.jpg
    klass: graphic-design
    desc:
  - image: images/may2018/img093.jpg
    title:
    link_to: images/may2018/img093.jpg
    klass: graphic-design
    desc:
  - image: images/may2018/img094.jpg
    title:
    link_to: images/may2018/img094.jpg
    klass: graphic-design
    desc:
  - image: images/may2018/img095.jpg
    title:
    link_to: images/may2018/img095.jpg
    klass: graphic-design
    desc:
  - image: images/may2018/img096.jpg
    title:
    link_to: images/may2018/img096.jpg
    klass: graphic-design
    desc:
  - image: images/may2018/img097.jpg
    title:
    link_to: images/may2018/img097.jpg
    klass: graphic-design
    desc:
  - image: images/may2018/img098.jpg
    title:
    link_to: images/may2018/img098.jpg
    klass: graphic-design
    desc:
  - image: images/may2018/img099.jpg
    title:
    link_to: images/may2018/img099.jpg
    klass: graphic-design
    desc:
  - image: images/may2018/img100.jpg
    title:
    link_to: images/may2018/img100.jpg
    klass: graphic-design
    desc:
  - image: images/may2018/img101.jpg
    title:
    link_to: images/may2018/img101.jpg
    klass: graphic-design
    desc:
  - image: images/may2018/img102.jpg
    title:
    link_to: images/may2018/img102.jpg
    klass: graphic-design
    desc:
  - image: images/may2018/img103.jpg
    title:
    link_to: images/may2018/img103.jpg
    klass: graphic-design
    desc:
  - image: images/may2018/img104.jpg
    title:
    link_to: images/may2018/img104.jpg
    klass: graphic-design
    desc:
  - image: images/may2018/img105.jpg
    title:
    link_to: images/may2018/img105.jpg
    klass: graphic-design
    desc:
---


<div class='full parallax' style='background-image: url(images/rgsitting.png); color: #fff;'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="Estate Sales" tagline="" color="#fff" class="big" %}
    </div>
  </div>
  <div class='four spacing'></div>
</div>

<div class='full'>
  <div class='row'>
    <div class='twelve columns'>
      <h1>Current Sale</h1>
      <h2>Saturday May 12 and Sunday May 13, 9-5pm</h2>
<!--
       <h3>7044 Briarmeadow Dr., Dallas, TX 75230</h3>
-->
<p>Cash and Credit Cards accepted </p>
<p>Customer responsible for moving large items </p>
<p>All items must be removed from sale by 5pm in Sunday the 13th. </p>

<p>What a treasure in one of the most beautiful neighborhoods in Dallas! You won’t want to miss out on this one of a kind sale. The house is spotless and is full of equal parts masculine and refined. Fine furnishings, artwork, animal mounts, collectibles, rugs, kitchen wares, electronics, men’s clothing and much more! Come on out and shop! You won’t leave empty handed!</p>

<h3>FURNITURE</h3>
<p>Pair of Wassily style chrome and cowhide chairs, Coffee table with French gate base and beveled glass top, 9 different barstsools in 4 styles including 3 magnificent cowhide stools, Glass topped dining room table with 6 chairs, Industrial style, adjustable – bistro style table, Antique wardrobe, Ming style longevity chairs, wingback chairs, loveseat, beautiful antique buffet</p>

<h3>COLLECTIBLES</h3>
<p>Madame Alexander Dolls, International Christmas Santas, Tchaikovsky’s The Prince German Nutcracker, Guitar – Crown Classic Folk (with case), Glass Christmas ornaments from the Market, seasonal décor, Western Horse saddle and more!</p>

<h3>ANIMAL DECOR</h3>
<p>Chital Deer Shoulder Mount, Ram Mount, Mosaic animal skulls on black iron stands, Porcupine Quill Box</p>

<h3>ELECTRONICS</h3>
<p>46” Samsung TV, 36” Vizio TV, 32” Vizio TV, Bose CUBE sound system, Blu-Ray DVD Player, Sony – multi room speaker selector, SpeakerCraft - multi room speaker selector</p>

<h3>ART</h3>
<p>Beautiful framed, signed and numbered prints by artist Donald Voorhees, stil life oil painting by Lee S. Michael, LARGE ornate framed old world art, Cloth over board animal painting and more! </p>

<h3>TOYS</h3>
<p>Including a KidKraft table with drawers and two sided removable top, books, dolls, and more! </p>

<h3>KITCHEN</h3>
<p>Syracuse Chester China, Cuisinart, flatware, collectible wine bottles from the Marilyn Merlot line, barware, kitchenwares, cookbooks, and more!</p>

<h3>OUTDOOR FURNITURE AND DÉCOR</h3>
<p>Texas Star wrought iron loveseat, Texas Star Patio Table with 4 chairs, patio side tables, wrought iron patio chairs (2), chaise lounge, Weber Grill with rotisserie, New Braunfels Smoker (small), large cement planters and more! </p>

<h3>JEWELRY</h3>
    </div>
  </div>
</div>


    <div class='mod modGallery'>
      <!-- 
      <div class='gallery-nav'>
        <ul>
          <li class='current'>
            <a data-cat='all' href='#'>All</a>
          </li>
          <li>
            <a data-cat='graphic-design' href='#'>Graphic Design</a>
          </li>
          <li>
            <a data-cat='web-design' href='#'>Web Design</a>
          </li>
          <li>
            <a data-cat='brand' href='#'>Brand</a>
          </li>
          <li>
            <a data-cat='development' href='#'>Development</a>
          </li>
          <li>
            <a data-cat='print' href='#'>Print</a>
          </li>
        </ul>
      </div>
      -->

      <ul class='gallery large-block-grid-4 medium-block-grid-3 small-block-grid-2'>

        {% for work in page.works %}
          <li class="{{ work.klass }}">
            <a href='{{ work.link_to }}'>
              <img alt="" src="{{ work.image }}" />
              <div class='overlay'>
                <div class='thumb-info'>
                  <h3>{{ work.title }}</h3>
                  <p>{{ work.desc }}</p>
                </div>
              </div>
            </a>
          </li>
        {% endfor %}

      </ul>
    </div>
  </div>

  <div class='four spacing'></div>
</div>
