---
layout: default
title: Estate Sales
section_id: estate-sales
works:  
  - image: images/201911/Photo11407.jpg
    title:
    link_to: images/201911/Photo11407.jpg
    klass: graphic-design
    desc:
  - image: images/201911/Photo11635.jpg
    title:
    link_to: images/201911/Photo11635.jpg
    klass: graphic-design
    desc:
  - image: images/201911/Photo12216.jpg
    title:
    link_to: images/201911/Photo12216.jpg
    klass: graphic-design
    desc:
  - image: images/201911/Photo12305.jpg
    title:
    link_to: images/201911/Photo12305.jpg
    klass: graphic-design
    desc:
  - image: images/201911/Photo12435.jpg
    title:
    link_to: images/201911/Photo12435.jpg
    klass: graphic-design
    desc:
  - image: images/201911/Photo12616.jpg
    title:
    link_to: images/201911/Photo12616.jpg
    klass: graphic-design
    desc:
  - image: images/201911/Photo12926.jpg
    title:
    link_to: images/201911/Photo12926.jpg
    klass: graphic-design
    desc:
  - image: images/201911/Photo13336.jpg
    title:
    link_to: images/201911/Photo13336.jpg
    klass: graphic-design
    desc:
  - image: images/201911/Photo13521.jpg
    title:
    link_to: images/201911/Photo13521.jpg
    klass: graphic-design
    desc:
  - image: images/201911/Photo13649.jpg
    title:
    link_to: images/201911/Photo13649.jpg
    klass: graphic-design
    desc:
  - image: images/201911/Photo13747.jpg
    title:
    link_to: images/201911/Photo13747.jpg
    klass: graphic-design
    desc:
  - image: images/201911/Photo13916.jpg
    title:
    link_to: images/201911/Photo13916.jpg
    klass: graphic-design
    desc:
  - image: images/201911/Photo14153.jpg
    title:
    link_to: images/201911/Photo14153.jpg
    klass: graphic-design
    desc:
  - image: images/201911/Photo14431.jpg
    title:
    link_to: images/201911/Photo14431.jpg
    klass: graphic-design
    desc:
  - image: images/201911/Photo14528.jpg
    title:
    link_to: images/201911/Photo14528.jpg
    klass: graphic-design
    desc:
  - image: images/201911/Photo15100.jpg
    title:
    link_to: images/201911/Photo15100.jpg
    klass: graphic-design
    desc:
  - image: images/201911/Photo15314.jpg
    title:
    link_to: images/201911/Photo15314.jpg
    klass: graphic-design
    desc:
  - image: images/201911/Photo15425.jpg
    title:
    link_to: images/201911/Photo15425.jpg
    klass: graphic-design
    desc:
  - image: images/201911/Photo15622.jpg
    title:
    link_to: images/201911/Photo15622.jpg
    klass: graphic-design
    desc:
  - image: images/201911/Photo20405.jpg
    title:
    link_to: images/201911/Photo20405.jpg
    klass: graphic-design
    desc:
  - image: images/201911/Photo20509.jpg
    title:
    link_to: images/201911/Photo20509.jpg
    klass: graphic-design
    desc:
  - image: images/201911/Photo20837.jpg
    title:
    link_to: images/201911/Photo20837.jpg
    klass: graphic-design
    desc:
  - image: images/201911/Photo20908.jpg
    title:
    link_to: images/201911/Photo20908.jpg
    klass: graphic-design
    desc:
  - image: images/201911/Photo21150.jpg
    title:
    link_to: images/201911/Photo21150.jpg
    klass: graphic-design
    desc:
  - image: images/201911/Photo21626.jpg
    title:
    link_to: images/201911/Photo21626.jpg
    klass: graphic-design
    desc:
  - image: images/201911/Photo23404.jpg
    title:
    link_to: images/201911/Photo23404.jpg
    klass: graphic-design
    desc:
  - image: images/201911/Photo23743.jpg
    title:
    link_to: images/201911/Photo23743.jpg
    klass: graphic-design
    desc:
  - image: images/201911/Photo24055.jpg
    title:
    link_to: images/201911/Photo24055.jpg
    klass: graphic-design
    desc:
  - image: images/201911/Photo24727.jpg
    title:
    link_to: images/201911/Photo24727.jpg
    klass: graphic-design
    desc:
  - image: images/201911/Photo25135.jpg
    title:
    link_to: images/201911/Photo25135.jpg
    klass: graphic-design
    desc:
  - image: images/201911/Photo32554.jpg
    title:
    link_to: images/201911/Photo32554.jpg
    klass: graphic-design
    desc:
  - image: images/201911/Photo32637.jpg
    title:
    link_to: images/201911/Photo32637.jpg
    klass: graphic-design
    desc:
  - image: images/201911/Photo33217.jpg
    title:
    link_to: images/201911/Photo33217.jpg
    klass: graphic-design
    desc:
  - image: images/201911/Photo33332.jpg
    title:
    link_to: images/201911/Photo33332.jpg
    klass: graphic-design
    desc:
  - image: images/201911/Photo33759.jpg
    title:
    link_to: images/201911/Photo33759.jpg
    klass: graphic-design
    desc:
  - image: images/201911/Photo34019.jpg
    title:
    link_to: images/201911/Photo34019.jpg
    klass: graphic-design
    desc:
  - image: images/201911/Photo34220.jpg
    title:
    link_to: images/201911/Photo34220.jpg
    klass: graphic-design
    desc:
  - image: images/201911/Photo35231.jpg
    title:
    link_to: images/201911/Photo35231.jpg
    klass: graphic-design
    desc:
  - image: images/201911/Photo35513.jpg
    title:
    link_to: images/201911/Photo35513.jpg
    klass: graphic-design
    desc:
  - image: images/201911/Photo35612.jpg
    title:
    link_to: images/201911/Photo35612.jpg
    klass: graphic-design
    desc:
  - image: images/201911/Photo40029.jpg
    title:
    link_to: images/201911/Photo40029.jpg
    klass: graphic-design
    desc:
  - image: images/201911/Photo40141.jpg
    title:
    link_to: images/201911/Photo40141.jpg
    klass: graphic-design
    desc:
  - image: images/201911/Photo40611.jpg
    title:
    link_to: images/201911/Photo40611.jpg
    klass: graphic-design
    desc:
  - image: images/201911/Photo40919.jpg
    title:
    link_to: images/201911/Photo40919.jpg
    klass: graphic-design
    desc:
  - image: images/201911/Photo41528.jpg
    title:
    link_to: images/201911/Photo41528.jpg
    klass: graphic-design
    desc:
  - image: images/201911/Photo42554.jpg
    title:
    link_to: images/201911/Photo42554.jpg
    klass: graphic-design
    desc:
  - image: images/201911/Photo42917.jpg
    title:
    link_to: images/201911/Photo42917.jpg
    klass: graphic-design
    desc:
  - image: images/201911/Photo43131.jpg
    title:
    link_to: images/201911/Photo43131.jpg
    klass: graphic-design
    desc:
  - image: images/201911/Photo43158.jpg
    title:
    link_to: images/201911/Photo43158.jpg
    klass: graphic-design
    desc:
  - image: images/201911/Photo43403.jpg
    title:
    link_to: images/201911/Photo43403.jpg
    klass: graphic-design
    desc:
  - image: images/201911/Photo44426.jpg
    title:
    link_to: images/201911/Photo44426.jpg
    klass: graphic-design
    desc:
  - image: images/201911/Photo44607.jpg
    title:
    link_to: images/201911/Photo44607.jpg
    klass: graphic-design
    desc:
  - image: images/201911/Photo44927.jpg
    title:
    link_to: images/201911/Photo44927.jpg
    klass: graphic-design
    desc:
  - image: images/201911/Photo45122.jpg
    title:
    link_to: images/201911/Photo45122.jpg
    klass: graphic-design
    desc:
  - image: images/201911/Photo45622.jpg
    title:
    link_to: images/201911/Photo45622.jpg
    klass: graphic-design
    desc:
  - image: images/201911/Photo50315.jpg
    title:
    link_to: images/201911/Photo50315.jpg
    klass: graphic-design
    desc:
  - image: images/201911/Photo50446.jpg
    title:
    link_to: images/201911/Photo50446.jpg
    klass: graphic-design
    desc:
  - image: images/201911/Photo50552.jpg
    title:
    link_to: images/201911/Photo50552.jpg
    klass: graphic-design
    desc:
  - image: images/201911/Photo50613.jpg
    title:
    link_to: images/201911/Photo50613.jpg
    klass: graphic-design
    desc:
  - image: images/201911/Photo50715.jpg
    title:
    link_to: images/201911/Photo50715.jpg
    klass: graphic-design
    desc:
  - image: images/201911/Photo50912.jpg
    title:
    link_to: images/201911/Photo50912.jpg
    klass: graphic-design
    desc:
  - image: images/201911/Photo51001.jpg
    title:
    link_to: images/201911/Photo51001.jpg
    klass: graphic-design
    desc:
  - image: images/201911/Photo51053.jpg
    title:
    link_to: images/201911/Photo51053.jpg
    klass: graphic-design
    desc:
  - image: images/201911/Photo52142.jpg
    title:
    link_to: images/201911/Photo52142.jpg
    klass: graphic-design
    desc:
  - image: images/201911/Photo52605.jpg
    title:
    link_to: images/201911/Photo52605.jpg
    klass: graphic-design
    desc:
  - image: images/201911/Photo52634.jpg
    title:
    link_to: images/201911/Photo52634.jpg
    klass: graphic-design
    desc:
  - image: images/201911/Photo52733.jpg
    title:
    link_to: images/201911/Photo52733.jpg
    klass: graphic-design
    desc:
  - image: images/201911/Photo52811.jpg
    title:
    link_to: images/201911/Photo52811.jpg
    klass: graphic-design
    desc:
  - image: images/201911/Photo52854.jpg
    title:
    link_to: images/201911/Photo52854.jpg
    klass: graphic-design
    desc:
  - image: images/201911/Photo53218.jpg
    title:
    link_to: images/201911/Photo53218.jpg
    klass: graphic-design
    desc:
  - image: images/201911/Photo53309.jpg
    title:
    link_to: images/201911/Photo53309.jpg
    klass: graphic-design
    desc:
  - image: images/201911/Photo53442.jpg
    title:
    link_to: images/201911/Photo53442.jpg
    klass: graphic-design
    desc:
  - image: images/201911/Photo53453.jpg
    title:
    link_to: images/201911/Photo53453.jpg
    klass: graphic-design
    desc:
  - image: images/201911/Photo53504.jpg
    title:
    link_to: images/201911/Photo53504.jpg
    klass: graphic-design
    desc:
  - image: images/201911/Photo53525.jpg
    title:
    link_to: images/201911/Photo53525.jpg
    klass: graphic-design
    desc:
  - image: images/201911/Photo53609.jpg
    title:
    link_to: images/201911/Photo53609.jpg
    klass: graphic-design
    desc:
  - image: images/201911/Photo54395.jpg
    title:
    link_to: images/201911/Photo54395.jpg
    klass: graphic-design
    desc:
  - image: images/201911/Photo54396.jpg
    title:
    link_to: images/201911/Photo54396.jpg
    klass: graphic-design
    desc:
  - image: images/201911/Photo54397.jpg
    title:
    link_to: images/201911/Photo54397.jpg
    klass: graphic-design
    desc:
  - image: images/201911/Photo54398.jpg
    title:
    link_to: images/201911/Photo54398.jpg
    klass: graphic-design
    desc:
  - image: images/201911/Photo54399.jpg
    title:
    link_to: images/201911/Photo54399.jpg
    klass: graphic-design
    desc:
  - image: images/201911/Photo54400.jpg
    title:
    link_to: images/201911/Photo54400.jpg
    klass: graphic-design
    desc:
  - image: images/201911/Photo54401.jpg
    title:
    link_to: images/201911/Photo54401.jpg
    klass: graphic-design
    desc:
  - image: images/201911/Photo54402.jpg
    title:
    link_to: images/201911/Photo54402.jpg
    klass: graphic-design
    desc:
  - image: images/201911/Photo54403.jpg
    title:
    link_to: images/201911/Photo54403.jpg
    klass: graphic-design
    desc:
  - image: images/201911/Photo54404.jpg
    title:
    link_to: images/201911/Photo54404.jpg
    klass: graphic-design
    desc:
  - image: images/201911/Photo54405.jpg
    title:
    link_to: images/201911/Photo54405.jpg
    klass: graphic-design
    desc:
  - image: images/201911/Photo54406.jpg
    title:
    link_to: images/201911/Photo54406.jpg
    klass: graphic-design
    desc:
  - image: images/201911/Photo54407.jpg
    title:
    link_to: images/201911/Photo54407.jpg
    klass: graphic-design
    desc:
  - image: images/201911/Photo54408.jpg
    title:
    link_to: images/201911/Photo54408.jpg
    klass: graphic-design
    desc:
  - image: images/201911/Photo54409.jpg
    title:
    link_to: images/201911/Photo54409.jpg
    klass: graphic-design
    desc:
  - image: images/201911/Photo54410.jpg
    title:
    link_to: images/201911/Photo54410.jpg
    klass: graphic-design
    desc:
  - image: images/201911/Photo54411.jpg
    title:
    link_to: images/201911/Photo54411.jpg
    klass: graphic-design
    desc:
  - image: images/201911/Photo54412.jpg
    title:
    link_to: images/201911/Photo54412.jpg
    klass: graphic-design
    desc:
  - image: images/201911/Photo54413.jpg
    title:
    link_to: images/201911/Photo54413.jpg
    klass: graphic-design
    desc:
  - image: images/201911/Photo54414.jpg
    title:
    link_to: images/201911/Photo54414.jpg
    klass: graphic-design
    desc:
  - image: images/201911/Photo54415.jpg
    title:
    link_to: images/201911/Photo54415.jpg
    klass: graphic-design
    desc:
  - image: images/201911/Photo54416.jpg
    title:
    link_to: images/201911/Photo54416.jpg
    klass: graphic-design
    desc:
  - image: images/201911/Photo54417.jpg
    title:
    link_to: images/201911/Photo54417.jpg
    klass: graphic-design
    desc:
  - image: images/201911/Photo54418.jpg
    title:
    link_to: images/201911/Photo54418.jpg
    klass: graphic-design
    desc:
  - image: images/201911/Photo54419.jpg
    title:
    link_to: images/201911/Photo54419.jpg
    klass: graphic-design
    desc:
  - image: images/201911/Photo54420.jpg
    title:
    link_to: images/201911/Photo54420.jpg
    klass: graphic-design
    desc:
  - image: images/201911/Photo54421.jpg
    title:
    link_to: images/201911/Photo54421.jpg
    klass: graphic-design
    desc:
  - image: images/201911/Photo54422.jpg
    title:
    link_to: images/201911/Photo54422.jpg
    klass: graphic-design
    desc:
  - image: images/201911/Photo54423.jpg
    title:
    link_to: images/201911/Photo54423.jpg
    klass: graphic-design
    desc:
  - image: images/201911/Photo54424.jpg
    title:
    link_to: images/201911/Photo54424.jpg
    klass: graphic-design
    desc:
  - image: images/201911/Photo54425.jpg
    title:
    link_to: images/201911/Photo54425.jpg
    klass: graphic-design
    desc:
  - image: images/201911/Photo63644.jpg
    title:
    link_to: images/201911/Photo63644.jpg
    klass: graphic-design
    desc:
  - image: images/201911/Photo63813.jpg
    title:
    link_to: images/201911/Photo63813.jpg
    klass: graphic-design
    desc:
  - image: images/201911/Photo63842.jpg
    title:
    link_to: images/201911/Photo63842.jpg
    klass: graphic-design
    desc:
  - image: images/201911/Photo64030.jpg
    title:
    link_to: images/201911/Photo64030.jpg
    klass: graphic-design
    desc:
  - image: images/201911/Photo64105.jpg
    title:
    link_to: images/201911/Photo64105.jpg
    klass: graphic-design
    desc:
  - image: images/201911/Photo64139.jpg
    title:
    link_to: images/201911/Photo64139.jpg
    klass: graphic-design
    desc:
  - image: images/201911/Photo64309.jpg
    title:
    link_to: images/201911/Photo64309.jpg
    klass: graphic-design
    desc:
  - image: images/201911/Photo64613.jpg
    title:
    link_to: images/201911/Photo64613.jpg
    klass: graphic-design
    desc:
  - image: images/201911/Photo64651.jpg
    title:
    link_to: images/201911/Photo64651.jpg
    klass: graphic-design
    desc:
---

<div class='full parallax' style='background-image: url(images/rgsitting.png); color: #fff;'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="Estate Sales" tagline="" color="#fff" class="big" %}
    </div>
  </div>
  <div class='four spacing'></div>
</div>

<div class='full'>
  <div class='row'>
    <div class='twelve columns'>
      <h1>Completed Sale</h1>
      <h2>Saturday, November 2 and Sunday, November 3, 9am-5pm</h2>
       <h3>Plano, TX</h3>

    </div>
  </div>
</div>


    <div class='mod modGallery'>
      <!-- 
      <div class='gallery-nav'>
        <ul>
          <li class='current'>
            <a data-cat='all' href='#'>All</a>
          </li>
          <li>
            <a data-cat='graphic-design' href='#'>Graphic Design</a>
          </li>
          <li>
            <a data-cat='web-design' href='#'>Web Design</a>
          </li>
          <li>
            <a data-cat='brand' href='#'>Brand</a>
          </li>
          <li>
            <a data-cat='development' href='#'>Development</a>
          </li>
          <li>
            <a data-cat='print' href='#'>Print</a>
          </li>
        </ul>
      </div>
      -->

      <ul class='gallery large-block-grid-4 medium-block-grid-3 small-block-grid-2'>

        {% for work in page.works %}
          <li class="{{ work.klass }}">
            <a href='{{ work.link_to }}'>
              <img alt="" src="{{ work.image }}" />
              <div class='overlay'>
                <div class='thumb-info'>
                  <h3>{{ work.title }}</h3>
                  <p>{{ work.desc }}</p>
                </div>
              </div>
            </a>
          </li>
        {% endfor %}

      </ul>
    </div>
  </div>

  <div class='four spacing'></div>
</div>
