---
layout: default
title: Estate Sales
section_id: estate-sales
works:  
  - image: https://picturescdn.estatesales.net/2663319/89452064/1.jpg
    title:
    link_to: https://picturescdn.estatesales.net/2663319/89452064/1.jpg
    klass: graphic-design
    desc:

---

<div class='full parallax' style='background-image: url(images/rgsitting.png); color: #fff;'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="Estate Sales" tagline="" color="#fff" class="big" %}
    </div>
  </div>
  <div class='four spacing'></div>
</div>

<div class='full'>
  <div class='row'>
    <div class='twelve columns'>
      <h1>Completed Sale</h1>
      <h2>Saturday, September 26 and Sunday, September 27, 9am-5pm</h2>
       <h3>Dallas, TX</h3>
       AMAZING ESTATE SALE IN THE HEART OF LAKE HIGHLANDS!!
<br><br>
This sale will WOW even the most discerning of shoppers! The items in this beautiful home have been collected and lovingly curated over 60 years with some pieces dating back to the 1850's! The family has traveled all over the world and it shows! You have to come and see it to believe it! Nestled in the heart of Lake Highlands, this house is a treasure trove of antiques, collectibles, priceless art, high end clothing, home decor, and more. We are so thrilled to have had this opportunity to prepare this estate! Below is just a sampling of what you will see! 
<br><br>
EXQUISITE antique Chinese paintings on silk, Asian art, antique Chinese Robe
<br><br>
Chinese vases, Japanese Geisha Girl eggshell porcelain plates, brass etched bowls-dragon design, Seymour Mann Mandarin porcelain plates, Imperial Jingdezhen porcelain plates, Japanese porcelain plate circa 1850
<br><br>
ART:
<br><br>
Abstract art, primitive art, religious art, oils, watercolors - Art by: Tom Windham, Rolla Taylor, Majorie H. Tietjens, Alexandra Pappas, Mordech, Victoria Brooks<br>
Remington bronzes and B.C Zheng bronze maquette sculptures<br>
Matching crystal chandeliers!
<br><br> 

ANTIQUE, VINTAGE AND MODERN FURNITURE:
<br><br>
Oak Crest rolltop desk<br>
Eastlake table and chairs<br>
Eastlake vanity/chest with mirror<br>
Antique secretary desk<br>
Antique hall tree with mirror<br>
Sewing table <br>
Petite Victorian bookcase<br>
Buffet and sideboards (one with hidden drawers!)<br>
Antique commodes<br>
Side tables and console tables<br>
China hutch<br>
Mahogany nesting tables<br>
Coffee tables (Asian style with glass top and traditional style wood base with leather top)<br>
Barstools<br>
Cedar chest<br>
Tea carts<br>
44" round antique mahogany table<br>
4 Hickory Co. mahogany arm chairs<br>
Carved wood backed side chairs, Wing back chairs<br>
Vintage FENDI Casa asymmetrical leather and upholstered club chair with matching ottoman<br>
Guiltwood wall console table with mirror set <br>
Kimball office furniture – matching desk, credenza, and file cabinet<br>
Huge 10’ curved sofa<br>
Dark brown leather sofa - 82" wide (like new) <br>
Antique drum table<br>
Petite French style settee<br>
Bamboo style curio cabinet<br>
Thomasville mahogany 10’ wide multi use entertainment unit (curio cabinets/entertainment unit/display unit) – this piece is off site but able to view upon request. Exact measurements available upon request. Serious inquiries only, please. <br>
Vintage floor globe bar cart from Spain<br>
Tiffany style floor lamps<br>
Howard Miller Grandfather clock<br>
Rugs of all sizes, 5x7, 8x10, 9x12<br>
Fireplace tools
<br><br>

STERLING SILVER AND SILVERPLATE:
<br><br>
Gorham, Sheridan, Rogers 1847 International, Alvin, Neiman Marcus, Swan neck silver punch bowl, Vintage International Sterling Flatware Springtime<br>
ONE-OF-A-KIND pair of antique brass Menorahs “Lions of Judea”<br>
Waterford crystal (CLARE and ALANA) – cocktail glasses and stemware, picture frames, ashtray, candlesticks, decorative pieces
<br><br>
 
FINE CHINA:
<br><br>
Royal Tara – Fine Bone China Made by Galway Republic of Ireland<br>
Lenox China – Weatherly (31 pieces)<br>
Haviland – Limoges France – Orsay (41 pieces)<br>
Mikasa – Poppy Love Bone China (30 pieces)<br>
Hotel Collection by Olaria<br>
Dresden by Macryl Crystal – domed crystal cake stand – RARE!<br>
Antique marble pedestal<br>
Large set of Frankoma pottery dishes – “Lazy Bones” pattern Desert Gold (46 pieces)<br>
Belleek (Limpet, over 30 pieces!)<br>
Barware – vintage Culver cocktail glasses, wine glasses, vintage champagne saucers and flutes<br>
Lladro, Boehme, Royal Daulton
<br><br>
 

JEWELRY:
<br><br>
Austrian crystal brooches/pendants, Brazilian Lemon Quartz, Blue Howlite Cross, Swarovski Peridot Crystal Cross, Arizona Sleeping Beauty Ring (size 6), Russian Red Quartz earrings, and so much more!<br>
Large collection of Vintage AVON perfume bottles! Here are just a few: Tug A Brella, Betsy Ross, Donkey & Straw Hat, and so many more!<br>
Vintage books – set of Charles Dickens works, University books – Haley<br>
8’ tall framed display shadow box frame with Antique wedding dress (over 100 years old)<br>
Children’s vintage games, cast iron model cars, books, etc.
<br><br>

CLOTHING/APPAREL:
<br><br>
Room FULL of high end, name brand men’s clothing: Brooks Brothers, Jos. A. Banks, Polo, Neiman Marcus, Stanley Korshak, Tom James, Marvin Brown, FILO A’Mani, Pierre Balmain, Daniel Taylor Suits (48 regular), Sport jackets, 75+ BRAND NEW dress shirts, 30+ golf sweater vests and shirts, casual shirts, Berne FR hooded jackets (1 brown / 1 black), Outerwear (London Fog), 300 + designer ties, 300+ pocket squares – which can also be used as fashionable face coverings!! Clothing sizes: 48 regular, Casual shirt sizes XXL, Dress shirt sizes 17 1/2x35, 18 ½ x 35, 18 ½ x 37<br>
Room FULL of Christmas and other seasonal décor<br>
Kitchen – small appliances, flatware, serving pieces, dishes<br>
Linens – tablecloths, napkins, table runners<br>
Picture frames, home décor<br>
Vintage Remington typewriter<br>
Marble backgammon game<br>
Adjustable metal bed frames<br>
Computer and audio equipment 
<br><br>
 
Garage FULL– self mowing lawnmower, brand new keg refrigerator, outdoor grill, tools, kid bikes, Christmas lights, industrial metal shelving units, large outdoor pots, patio table and (6) chairs, Asian style birdbath 
<br><br>

As you can see, this is a sale you won't want to miss! The weekend is bringing glorious weather so get out and come shop! The holidays are just around the corner. We hope to see you!

    </div>
  </div>
</div>


    <div class='mod modGallery'>
      <!-- 
      <div class='gallery-nav'>
        <ul>
          <li class='current'>
            <a data-cat='all' href='#'>All</a>
          </li>
          <li>
            <a data-cat='graphic-design' href='#'>Graphic Design</a>
          </li>
          <li>
            <a data-cat='web-design' href='#'>Web Design</a>
          </li>
          <li>
            <a data-cat='brand' href='#'>Brand</a>
          </li>
          <li>
            <a data-cat='development' href='#'>Development</a>
          </li>
          <li>
            <a data-cat='print' href='#'>Print</a>
          </li>
        </ul>
      </div>
      -->

      <ul class='gallery large-block-grid-4 medium-block-grid-3 small-block-grid-2'>

        {% for work in page.works %}
          <li class="{{ work.klass }}">
            <a href='{{ work.link_to }}'>
              <img alt="" src="{{ work.image }}" />
              <div class='overlay'>
                <div class='thumb-info'>
                  <h3>{{ work.title }}</h3>
                  <p>{{ work.desc }}</p>
                </div>
              </div>
            </a>
          </li>
        {% endfor %}

      </ul>
    </div>
  </div>

  <div class='four spacing'></div>
</div>
