---
layout: default
title: Estate Sales
section_id: estate-sales
works:
  - image: images/sept2017/img_00.jpg
    title:
    link_to: images/sept2017/img_00.jpg
    klass: graphic-design
    desc:
  - image: images/sept2017/img_01.jpg
    title:
    link_to: images/sept2017/img_01.jpg
    klass: graphic-design
    desc:
  - image: images/sept2017/img_02.jpg
    title:
    link_to: images/sept2017/img_02.jpg
    klass: graphic-design
    desc:
  - image: images/sept2017/img_03.jpg
    title:
    link_to: images/sept2017/img_03.jpg
    klass: graphic-design
    desc:
  - image: images/sept2017/img_04.jpg
    title:
    link_to: images/sept2017/img_04.jpg
    klass: graphic-design
    desc:
  - image: images/sept2017/img_05.jpg
    title:
    link_to: images/sept2017/img_05.jpg
    klass: graphic-design
    desc:
  - image: images/sept2017/img_43.jpg
    title:
    link_to: images/sept2017/img_43.jpg
    klass: graphic-design
    desc:
  - image: images/sept2017/img_44.jpg
    title:
    link_to: images/sept2017/img_44.jpg
    klass: graphic-design
    desc:
  - image: images/sept2017/img_45.jpg
    title:
    link_to: images/sept2017/img_45.jpg
    klass: graphic-design
    desc:
  - image: images/sept2017/img_46.jpg
    title:
    link_to: images/sept2017/img_46.jpg
    klass: graphic-design
    desc:
  - image: images/sept2017/img_06.jpg
    title:
    link_to: images/sept2017/img_06.jpg
    klass: graphic-design
    desc:
  - image: images/sept2017/img_07.jpg
    title:
    link_to: images/sept2017/img_07.jpg
    klass: graphic-design
    desc:
  - image: images/sept2017/img_08.jpg
    title:
    link_to: images/sept2017/img_08.jpg
    klass: graphic-design
    desc:
  - image: images/sept2017/img_09.jpg
    title:
    link_to: images/sept2017/img_09.jpg
    klass: graphic-design
    desc:
  - image: images/sept2017/img_10.jpg
    title:
    link_to: images/sept2017/img_10.jpg
    klass: graphic-design
    desc:
  - image: images/sept2017/img_11.jpg
    title:
    link_to: images/sept2017/img_11.jpg
    klass: graphic-design
    desc:
  - image: images/sept2017/img_12.jpg
    title:
    link_to: images/sept2017/img_12.jpg
    klass: graphic-design
    desc:
  - image: images/sept2017/img_13.jpg
    title:
    link_to: images/sept2017/img_13.jpg
    klass: graphic-design
    desc:
  - image: images/sept2017/img_14.jpg
    title:
    link_to: images/sept2017/img_14.jpg
    klass: graphic-design
    desc:
  - image: images/sept2017/img_15.jpg
    title:
    link_to: images/sept2017/img_15.jpg
    klass: graphic-design
    desc:
  - image: images/sept2017/img_16.jpg
    title:
    link_to: images/sept2017/img_16.jpg
    klass: graphic-design
    desc:
  - image: images/sept2017/img_17.jpg
    title:
    link_to: images/sept2017/img_17.jpg
    klass: graphic-design
    desc:
  - image: images/sept2017/img_18.jpg
    title:
    link_to: images/sept2017/img_18.jpg
    klass: graphic-design
    desc:
  - image: images/sept2017/img_19.jpg
    title:
    link_to: images/sept2017/img_19.jpg
    klass: graphic-design
    desc:
  - image: images/sept2017/img_20.jpg
    title:
    link_to: images/sept2017/img_20.jpg
    klass: graphic-design
    desc:
  - image: images/sept2017/img_21.jpg
    title:
    link_to: images/sept2017/img_21.jpg
    klass: graphic-design
    desc:
  - image: images/sept2017/img_22.jpg
    title:
    link_to: images/sept2017/img_22.jpg
    klass: graphic-design
    desc:
  - image: images/sept2017/img_23.jpg
    title:
    link_to: images/sept2017/img_23.jpg
    klass: graphic-design
    desc:
  - image: images/sept2017/img_24.jpg
    title:
    link_to: images/sept2017/img_24.jpg
    klass: graphic-design
    desc:
  - image: images/sept2017/img_25.jpg
    title:
    link_to: images/sept2017/img_25.jpg
    klass: graphic-design
    desc:
  - image: images/sept2017/img_26.jpg
    title:
    link_to: images/sept2017/img_26.jpg
    klass: graphic-design
    desc:
  - image: images/sept2017/img_27.jpg
    title:
    link_to: images/sept2017/img_27.jpg
    klass: graphic-design
    desc:
  - image: images/sept2017/img_28.jpg
    title:
    link_to: images/sept2017/img_28.jpg
    klass: graphic-design
    desc:
  - image: images/sept2017/img_29.jpg
    title:
    link_to: images/sept2017/img_29.jpg
    klass: graphic-design
    desc:
  - image: images/sept2017/img_30.jpg
    title:
    link_to: images/sept2017/img_30.jpg
    klass: graphic-design
    desc:
  - image: images/sept2017/img_31.jpg
    title:
    link_to: images/sept2017/img_31.jpg
    klass: graphic-design
    desc:
  - image: images/sept2017/img_32.jpg
    title:
    link_to: images/sept2017/img_32.jpg
    klass: graphic-design
    desc:
  - image: images/sept2017/img_33.jpg
    title:
    link_to: images/sept2017/img_33.jpg
    klass: graphic-design
    desc:
  - image: images/sept2017/img_34.jpg
    title:
    link_to: images/sept2017/img_34.jpg
    klass: graphic-design
    desc:
  - image: images/sept2017/img_35.jpg
    title:
    link_to: images/sept2017/img_35.jpg
    klass: graphic-design
    desc:
  - image: images/sept2017/img_36.jpg
    title:
    link_to: images/sept2017/img_36.jpg
    klass: graphic-design
    desc:
  - image: images/sept2017/img_37.jpg
    title:
    link_to: images/sept2017/img_37.jpg
    klass: graphic-design
    desc:
  - image: images/sept2017/img_38.jpg
    title:
    link_to: images/sept2017/img_38.jpg
    klass: graphic-design
    desc:
  - image: images/sept2017/img_39.jpg
    title:
    link_to: images/sept2017/img_39.jpg
    klass: graphic-design
    desc:
  - image: images/sept2017/img_40.jpg
    title:
    link_to: images/sept2017/img_40.jpg
    klass: graphic-design
    desc:
  - image: images/sept2017/img_41.jpg
    title:
    link_to: images/sept2017/img_41.jpg
    klass: graphic-design
    desc:
  - image: images/sept2017/img_42.jpg
    title:
    link_to: images/sept2017/img_42.jpg
    klass: graphic-design
    desc:
  - image: images/sept2017/img_47.jpg
    title:
    link_to: images/sept2017/img_47.jpg
    klass: graphic-design
    desc:
  - image: images/sept2017/img_48.jpg
    title:
    link_to: images/sept2017/img_48.jpg
    klass: graphic-design
    desc:
  - image: images/sept2017/img_49.jpg
    title:
    link_to: images/sept2017/img_49.jpg
    klass: graphic-design
    desc:
  - image: images/sept2017/img_50.jpg
    title:
    link_to: images/sept2017/img_50.jpg
    klass: graphic-design
    desc:
  - image: images/sept2017/img_51.jpg
    title:
    link_to: images/sept2017/img_51.jpg
    klass: graphic-design
    desc:
  - image: images/sept2017/img_52.jpg
    title:
    link_to: images/sept2017/img_52.jpg
    klass: graphic-design
    desc:
  - image: images/sept2017/img_53.jpg
    title:
    link_to: images/sept2017/img_53.jpg
    klass: graphic-design
    desc:
  - image: images/sept2017/img_54.jpg
    title:
    link_to: images/sept2017/img_54.jpg
    klass: graphic-design
    desc:
  - image: images/sept2017/img_55.jpg
    title:
    link_to: images/sept2017/img_55.jpg
    klass: graphic-design
    desc:
  - image: images/sept2017/img_56.jpg
    title:
    link_to: images/sept2017/img_56.jpg
    klass: graphic-design
    desc:
  - image: images/sept2017/img_57.jpg
    title:
    link_to: images/sept2017/img_57.jpg
    klass: graphic-design
    desc:
  - image: images/sept2017/img_58.jpg
    title:
    link_to: images/sept2017/img_58.jpg
    klass: graphic-design
    desc:
  - image: images/sept2017/img_59.jpg
    title:
    link_to: images/sept2017/img_59.jpg
    klass: graphic-design
    desc:
  - image: images/sept2017/img_60.jpg
    title:
    link_to: images/sept2017/img_60.jpg
    klass: graphic-design
    desc:
  - image: images/sept2017/img_61.jpg
    title:
    link_to: images/sept2017/img_61.jpg
    klass: graphic-design
    desc:
  - image: images/sept2017/img_62.jpg
    title:
    link_to: images/sept2017/img_62.jpg
    klass: graphic-design
    desc:
---


<div class='full parallax' style='background-image: url(images/rgsitting.png); color: #fff;'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="Estate Sales" tagline="" color="#fff" class="big" %}
    </div>
  </div>
  <div class='four spacing'></div>
</div>

<div class='full'>
  <div class='row'>
    <div class='twelve columns'>
      <h1>Completed Sale</h1>
      <h2>EXQUISITE ESTATE SALE IN THE HEART OF DALLAS! </h2>
      <p>The weather is getting cooler and this weekend is the perfect time to get out and enjoy it and stop by this amazing estate sale to find that something special! This home is FILLED with one of a kind treasures and it was such a privilege to work with such a sweet family.</p>
<br> 
<p>Saturday, September 30 and Sunday, October 1</p>
<p>9am-5pm</p>
<p>Cash and Credit Cards accepted</p>
<!--<p>4339 Rawlins Street</p>-->
<p>Dallas, TX 75219 </p>
<h3>Off Duty Police Officer on Site</h3>
<h3>Customer is responsible for moving heavy items</h3>

<p>FINE AND COSTUME JEWELRY – Gold, silver, diamonds, pearls, turquoise, jade, Russian diopside, aventurine, malachite, jasper, ruby, blue topaz, abalone, agate, druzy, opals, coral, amethyst and millefiori just to name a few! Rings, bracelets, brooches, earrings, necklaces, pendants and more. </p>

<p>ART – oils, watercolors, etched metal, artists including Ackerman, Reiter, Fies, Selva, Weeter and more. </p>

<p>BOOKS – authors A.C. Green A Place Called Dallas, Peter Pauper Press A Christmas Carol, Charles M. Russell, Frank Dobie and more! Collectible newspaper editions from the Dallas Morning News and the Times Herald </p>

<p>FINE CHINA AND CRYSTAL – including Lenox Hancock, Franciscan “Desert Rose” pattern (over 50 pieces), Franciscan “Arcadia”, Fostoria Glass (over 40 pieces), Spode “Christmas Tree”, Crown Victoria, Vintage Mikasa “Victoria”, Syracuse “Chester”, vintage Waterford crystal – Glenmore, candlesticks, Herend  </p>

<p>RARE AND FUN COLLECTIBLES - Chinese vases and art, Dresden Nativity Set – 11 pieces (Sandizell), Hasko story plates, Wonder of France Metal Flashlight and more. </p>

<p>FURNITURE – Upright Piano, Pine Hutch, Antique Oak Armoire, Mid Century Modern Furniture, side tables, coffee tables, sofas, twin beds, queen sized bed. </p>

<p>HOME DÉCOR – candles, wall décor, figurines, bowls, copper, vases, lamps, baskets, seasonal décor. </p>

<p>KITCHEN - FULL of Vintage – Hazel Atlas Apple Bowl set, W.M. Rogers silverplate Cranberry Serving Tray MIB, Neiman Marcus special editions and so many more wonderful things!</p>

<p>WOMEN’S CLOTHING AND SHOES – shirts, pants, shoes, handbags, scarves, robes, coats, gowns and more!</p>
<p>VERA BRADLEY – beautiful handbags from the famous designer!</p>
<p>PERFUMES AND COLOGNE – JE Reviens WORTH, Christian Dior DIORAMA and more. </p>

<p>LINENS AND TEXTILES – tablecloths, napkins, aprons, sheets, towels, custom drapes, and more! </p>
<p>OUTDOOR PATIO SET – Vintage wrought iron – rolling cart, 8 chairs, table, drum table, small side tables, love seat and chaise lounge</p>

<p>CAR - 2002 BUICK Century Special Edition – under 70K miles</p>

<p>APPLIANCES – Samsung washer, dryer, Maytag Gemini slide in double oven, Refrigerator, Dishwasher</p>

<p>Fireplace Logs – 2 sets for gas fireplaces </p>

<p>GARAGE FULL! Tools, vintage roller skates, outdoor décor, etc. </p>
    </div>
  </div>
</div>


    <div class='mod modGallery'>
      <!-- 
      <div class='gallery-nav'>
        <ul>
          <li class='current'>
            <a data-cat='all' href='#'>All</a>
          </li>
          <li>
            <a data-cat='graphic-design' href='#'>Graphic Design</a>
          </li>
          <li>
            <a data-cat='web-design' href='#'>Web Design</a>
          </li>
          <li>
            <a data-cat='brand' href='#'>Brand</a>
          </li>
          <li>
            <a data-cat='development' href='#'>Development</a>
          </li>
          <li>
            <a data-cat='print' href='#'>Print</a>
          </li>
        </ul>
      </div>
      -->

      <ul class='gallery large-block-grid-4 medium-block-grid-3 small-block-grid-2'>

        {% for work in page.works %}
          <li class="{{ work.klass }}">
            <a href='{{ work.link_to }}'>
              <img alt="" src="{{ work.image }}" />
              <div class='overlay'>
                <div class='thumb-info'>
                  <h3>{{ work.title }}</h3>
                  <p>{{ work.desc }}</p>
                </div>
              </div>
            </a>
          </li>
        {% endfor %}

      </ul>
    </div>
  </div>

  <div class='four spacing'></div>
</div>
