---
layout: default
title: Services
section_id: services
services_left:
  - icon: paperclip
    title: Organization
    desc: We will organize, arrange and display all items to be sold. If, during that process, we encounter items that appear to be of especially sentimental value, or we encounter valuable items that you have not told us about, we will consult with you.  We will use available tables and display cases, as necessary.  To a limited extent, we will also clean the area where the sale is to be conducted, gather and dispose of items that cannot be sold and clean and polish selected items being sold, such as silverware, fine china and furniture, if necessary.
  - icon: edit
    title: Pricing
    desc: We will appraise all items to be sold and will mark prices on them using price stickers, tags or signs that we will provide.  If we believe there are items of value that are not within our area of expertise, we may choose to engage an outside appraiser having the necessary expertise, at our expense. We welcome your input regarding the value of specific items; however, given our substantial experience in this area, we reserve the right to make all final pricing decisions.
  - icon: microphone
    title: Advertising
    desc: We will arrange for appropriate advertisements and permits regarding the sale. In addition, subject to municipal ordinances restricting the placement of signs, we will prepare and place several signs in conspicuous locations in the area of the sale on the morning it is to start and take them down each day. 
services_right:
  - icon: lock
    title: Security
    desc: We will take reasonable steps to guard against theft to the extent possible.  For example, in selecting the number of employees to hire for the sale and in deciding how to arrange the items being sold, security will be one of our primary considerations.
  - icon: money
    title: Sale
    desc: We will conduct the sale in a professional and efficient manner. We will conduct the sale with two objectives -  A) Sell every available item and B) Maximize the proceeds from the sale.  During the course of the sale, we may negotiate prices with customers, as we consider appropriate in order to achieve the two objectives stated above. We normally hold all prices firm the first day and lower the prices on the second or last day of the sale. However, you may establish minimum prices for a small number of items, if it is agreed upon before this contract is signed.  To assist with the sale, we will hire as many individuals as we believe are reasonably necessary, from a pool of honest, experienced, reliable individuals that we hire for that purpose.
  - icon: check
    title: Disposal of Unsold Items
    desc: There will be unsold items at the conclusion of the sale.  We will be glad to suggest name of charities that will pick up the unsold items at your convenience or we will arrange at our expense to have these items removed from your property.  We have found that most clients prefer to go through the unsold items at the conclusion of the sale.
---

<div class='full parallax' style='background-image: url(images/chinatable.jpg); color: #fff;'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="Our services" tagline="" color="#fff" class="big" %}
    </div>
  </div>
  <div class='four spacing'></div>
</div>


<div class='full'>
  <div class='row'>
    <div class='medium-6 columns'>
      {% for service in page.services_left %}
        <div class='fadein mod modIconText' data-delay='{{ 300 | times:forloop.index0 }}'>
          <div class='icon-text-simple'>
            <i class='fa fa-{{service.icon}}'></i>
            <h3>{{service.title}}</h3>
            <p>{{service.desc}}</p>
          </div>
          <div class='two spacing'></div>
        </div>
      {% endfor %}
    </div>
    <div class='medium-6 columns'>
      {% for service in page.services_right %}
        <div class='fadein mod modIconText' data-delay='{{ 300 | times:forloop.index0 }}'>
          <div class='icon-text-simple'>
            <i class='fa fa-{{service.icon}}'></i>
            <h3>{{service.title}}</h3>
            <p>{{service.desc}}</p>
          </div>
          <div class='two spacing'></div>
        </div>
      {% endfor %}
    </div>
  </div>
  <div class='spacing'></div>
</div>
